<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!-- <div *ngFor="let data of useCaseName" >
    <div class="row" style="display: flex;" >
        <div class="card1">
        <div class="card-body">
          <h5 class="card-title">{{data}}</h5>

        </div>
    </div>
      </div>
</div>
<div class="row" style="display: flex;">
  <div >
  <mat-tab-group dynamicHeight dynamicWidth color="primary" class="workbenchContainer inputText">
    <mat-tab label="Available Use cases">

    </mat-tab>
</mat-tab-group>
</div>
<div>
    <button class="addDataBtn" (click)="openRightSideModal()">NEW USE CASE</button>
</div>
</div> -->

<div *ngIf="useCaseScreen===true && record===false && edit === false">
    <label class="topHeading">USE CASES</label>
    <!-- <div class="batchTable-container">
        <mat-tab-group dynamicHeight dynamicWidth color="primary" style="padding-top: 15px; " class="workbenchContainer inputText HeadingLabel " (selectedTabChange)="selectedTabValue($event)">
            <mat-tab class="align-items-center" label="Available Use cases">
            </mat-tab>
            <mat-tab class="align-items-center" label="Legal Agent">
                <app-legal-agent></app-legal-agent>
            </mat-tab>
        </mat-tab-group>
        <div class="d-flex align-items-center" *ngIf="activeTab == 'Available Use cases'">
            <button class="addDataBtn" (click)="openRightSideModal()">NEW USE CASE</button>
        </div>
    </div> -->
    <div class="batchTable-container">
        <mat-tab-group dynamicHeight dynamicWidth color="primary" class="workbenchContainer">
            <mat-tab label="Available Use cases">
                <ng-template matTabContent>
                    <div>
                        <ng-container class="selectTypeShimmer" *ngIf="isLoadingUseCase">
                            <ngx-skeleton-loader count="5" appearance="circle" [theme]="{ 'border-radius': '10px', height: '150px', width: '200px'}">
                            </ngx-skeleton-loader>
                        </ng-container>
                        <div class="d-flex align-items-center" style="margin-bottom: 30px; margin-left: 10px;margin-top: 30px" *ngIf="!isLoadingUseCase">
                            <button class="addDataBtn" (click)="openRightSideModal()"> + NEW USE CASE</button>
                        </div>
                        <div *ngIf="!isLoadingUseCase" class="row" style="display: flex;">
                            <div *ngFor="let data of useCaseNameDetail" class="card1">
                                <div class="card-body d-flex">
                                    <h5 class="card-title title">{{data["UseCaseName"]}}</h5>
                                    <button mat-icon-button color="primary2" class="matIcon" (click)="generateReport(data['UseCaseName'])">
                                <mat-icon [inline]="true">library_books</mat-icon>
                              </button>
                                    <button mat-icon-button color="primary2" style="color: #8626C3; padding-bottom: 2px;" (click)="editForm(data['UseCaseName'])"><mat-icon> edit </mat-icon></button>
                                </div>
                                <div>
                                    <label class="labelText">Score : {{data["Score"] | number:'1.2-2' }}</label><br>
                                    <label class="labelText">Classification : {{data["Risk_Classification"]}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab class="align-items-center" label="Legal Agent">
                <app-legal-agent></app-legal-agent>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <ng-container class="selectTypeShimmer" *ngIf="isLoadingUseCase">
        <ngx-skeleton-loader count="5" appearance="circle" [theme]="{ 'border-radius': '10px', height: '150px', width: '200px'}">
        </ngx-skeleton-loader>
    </ng-container> -->



</div>
<div *ngIf="record=== true">
    <app-use-case-report [useCaseName]="useCaseName"></app-use-case-report>
</div>
<!-- <div *ngIf="edit== true">
    <app-use-case-parent></app-use-case-parent>
</div> -->
<div *ngIf="newUseCaseCreation=== true || edit == true && record===false && dataRecieved== true">
    <app-use-case-parent [editFun]="edit"></app-use-case-parent>
</div>