/*  MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.mat-primary2 {
    color: #8626C3;
    /* background-color:#BFBFBF; */
}

.input-container .file-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ffc0cb;
    /* Pink border */
    margin-bottom: 15px;
    font-size: 16px;
    background: transparent;
    /* No background color */
    outline: none;
    transition: border-color 0.3s;
}

.input-container .file-input:hover,
.input-container .file-input:focus {
    border-bottom-color: #ff69b4;
    /* Darker pink on hover/focus */
}

.input-container .drop-zone {
    border: 2px dashed #ffc0cb;
    /* Pink border */
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    color: #4a4a4a;
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.input-container mat-radio-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #ffc0cb;
    /* Pink border */
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
    margin-bottom: 10px;
    /* Space between the groups */
}

.input-container mat-radio-button {
    margin-bottom: 10px;
    /* Space between the buttons */
    color: #4a4a4a;
    /* Grey text */
}

.input-container mat-radio-button.mat-radio-checked {
    color: #ffc0cb;
    /* Pink text for checked button */
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-focus-icon-color: #212121;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #D1C4E9;
    --mdc-radio-selected-hover-icon-color: #D1C4E9;
    --mdc-radio-selected-icon-color: #D1C4E9;
    --mdc-radio-selected-pressed-icon-color: #D1C4E9;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #D1C4E9;
}


/* :host ::ng-deep .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #231F20;
    --mdc-protected-button-label-text-color: #fff;
}
:host ::ng-deep .mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #231F20;
    --mdc-protected-button-label-text-color: #fff;
} */

.mat-black {
    color: white !important;
    background-color: #231F20 !important;
}

.mat-reset {
    color: white !important;
    background-color: #BFBFBF !important;
}

.form-select {
    width: 10rem;
    height: 1.813rem;
    font-size: 0.75rem;
    margin-bottom: 1.10rem;
}

.HeadingLabel {
    color: #7E7E7E;
    padding: 0px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
}

.rfrshBtn {
    color: #8626C3;
    border: none;
    background: none;
    padding-top: 6px;
    transition: transform 0.3s ease;
}

.rfrshBtn:active {
    transform: rotate(90deg);
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.actionBtn {
    color: #8626C3;
    border: none;
    background: none;
    font-size: 19px;
    padding: 0px;
    margin-top: 3px;
    margin-right: 10px;
}

.addDataBtn {
    border: 1px solid #8626C3;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 200;
    padding: 5px 10px;
    background: none;
    transition: background-color 0.3s ease;
}

.addDataBtn:hover {
    background-color: #8626C3;
    color: #fff;
}

.mdc-checkbox {
    height: 16px !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.mat-mdc-checkbox .mdc-checkbox__background .mat-checkbox-frame {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.mat-mdc-checkbox .mat-checkbox-frame {
    border-radius: 50%;
}

.mat-checkbox-background svg {
    display: none;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-radius: 50%;
}

.mat-mdc-checkbox label {
    cursor: pointer;
    opacity: 70% !important;
    color: #061838 !important;
    font-family: 'Segoe UI' !important;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    margin-bottom: 0.2rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
}

.buttonMain {
    font-family: 'Segoe UI';
    font-weight: semi-bold;
    font-size: .75rem;
    height: 26px !important;
    width: 3.3rem;
    margin: 1rem 0rem;
}

.gereen-text {
    color: #12A108 !important;
}

.batchTable-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-center {
    vertical-align: middle;
}

.styled-table {
    /* margin-left: 1rem; */
    width: 95%;
    border-collapse: collapse;
}

.styled-table th.header {
    /* Segoe UI, Semibold .75rem */
    font-size: 0.70rem;
    font-family: 'Segoe UI';
    font-weight: 600;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-right: 10px;
    /* background-color: #4CAF50; */
    color: #382261;
    opacity: 70%;
    text-transform: uppercase;
}

.styled-table td {
    /* Segoe UI, regular */
    font-size: 0.70rem !important;
    font-family: 'Segoe UI' !important;
    font-weight: 500 !important;
    color: #061838 !important;
}

.styled-table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}


/* Icon Styling */

app-structured-text .mat-mdc-icon-button.mat-mdc-button-base {
    width: 25px;
    height: 25px;
    padding: 0px;
}

.matIcon {
    margin-left: 25px;
    font-size: 16px;
}


/* -----Pagination------- */

.ngx-pagination .current {
    background: #8626C3 !important;
}

.ngx-pagination a {
    text-decoration: none !important;
}

.pagination-label {
    font-family: 'Segoe UI'!important;
    font-weight: 500 !important;
    font-size: .60rem !important;
}

.cdk-overlay-container {
    z-index: 1056 !important;
    /* Adjust if needed */
}

.smallButton {
    font-size: smaller !important;
    width: 65px !important;
    height: 30px !important;
}


/* PANEL BACKGOUND */

.cdk-overlay-backdrop.custom-backdrop {
    background: rgba(0, 0, 0, 0.6);
    top: 57px;
    width: 100%;
    height: calc(100% - 57px);
}

.styled-table tr td,
.styled-table tr th {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}


/* *, ::after, ::before {
    box-sizing: content-box !important;
  } */

.input-content-box {
    font-size: 0.70rem;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #061838;
    background-color: white;
}

 :host .dropdown {
    max-width: 15rem;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: smaller;
    margin-right: .5rem;
}


/* toogle switch */


/* Toggle Switch */

.switch {
    display: inline-block;
}

.switch input {
    display: none;
}

.switch label {
    display: block;
    width: 43px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    background-color: #E0DCEC;
    margin: 0px 5px;
}

.switch label::after {
    content: "";
    display: inherit;
    width: 14px;
    height: 14px;
    border-radius: 12px;
    background: #8626C3;
    transition: 0.3s;
    border: 2px solid white;
}

.switch input:checked~label {
    border-color: #ffffff;
}

.switch input:checked~label::after {
    translate: 23px 0;
    background: #8626C3;
}

.switch input:disabled~label {
    background-color: #cccccc;
    cursor: not-allowed;
}

.switch input:disabled:checked~label {
    background-color: #aaaaaa;
}

.switch input:disabled~label::after {
    background-color: #bbbbbb;
}


/* toggle switch end  */

.mat-primary3 {
    color: #B10000;
    /* background-color:#BFBFBF; */
}

.mat-primary4 {
    color: #000000;
    opacity: 59%;
    /* background-color:#BFBFBF; */
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 25px;
    height: 25px;
    padding: 0px;
}

.matIcon {
    margin-left: 25px;
    font-size: 16px;
}

.topHeading {
    color: #4D4D4D;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Segoe UI';
}


/* SEARCH BAR */

.search-bar {
    display: flex;
    align-items: center;
    width: 49px;
    /* Adjust this to fit the search icon */
    /* border: 1px solid #ccc;
  border-radius: 4px; */
    padding: 5px;
    margin-right: 20px;
    transition: width 0.3s ease-in-out;
    /* Add transition for smooth animation */
}

.admin_panel_settings {
    align-items: center;
    margin-top: 7px;
    margin-right: 8px;
    border: none;
    background: none;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* Add transition for smooth animation */
}

.search-bar.active {
    width: 300px;
    /* Adjust this to your desired search bar width */
    border: 1px solid #ccc;
    border-radius: 15px;
}

.search-bar.active input[type="text"] {
    width: 100%;
    opacity: 1;
}

.search-bar .search-icon {
    margin-right: 5px;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: -20px;
}

.close-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    /* margin-right: 230px; */
}

.manage-access-btn {
    background-color: #9C27B0;
    /* Adjust color to match exact shade */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    /* Add this */
    align-items: center;
    /* Add this */
    justify-content: center;
    /* Add this */
    gap: 5px;
    /* Add this */
    margin-right: 20px;
}

.gear-icon {
    /* Add styling for gear icon here, or use a font library like Font Awesome */
}