<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="p-3 px-4 h-100">
    <div class="d-flex justify-content-between align-items-center pb-4">
        <p class="HeadingLabel">Update FM Parameters</p>
        <button class="close pb-2" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
        <form [formGroup]="FmConfigResponseForm">
            <input type="hidden" name="csrfToken" value="nonceService.getNonce()">

            <!-- inside accordion body  -->
            <div style="width: 100%; max-width: 100%;">
                <div class="d-flex " style="max-width: 100%;">
                    <div class="d-flex flex-column" style="max-width: 25%; width: 25%;">
                        <div style="margin-left: .5rem;">
                            <label class="sliderLabel" style="padding-bottom: 0px;">Select Type:</label>
                        </div>
                        <div class="marginDiv">
                            <!-- <h3 class="HeadingLabelSM">Input Moderation Checks</h3> -->
                            <mat-select #select1 multiple id="selectApplicableAttacks" class="dropdown" formControlName="inputModChecks" placeholder="InputModerationChecks">
                                <div class="select-all">
                                    <mat-checkbox (change)="toggleAllSelection1($event)" color="primary">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (click)="selectInputModeration()" class="dropdownOptions" *ngFor="let attack of InputModerationChecks" [value]="attack">
                                    {{attack}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <!-- Left column content -->
                        <div class="marginDiv">
                            <!-- <h3 class="HeadingLabelSM">Output Moderation Checks</h3> -->
                            <mat-select #select2 multiple id="selectApplicableAttacks" class="dropdown" formControlName="outputModChecks" placeholder="OutputModerationChecks">
                                <div class="select-all">
                                    <mat-checkbox (change)="toggleAllSelection2($event)" color="primary">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (click)="selectOutputModeration()" class="dropdownOptions" *ngFor="let attack of OutputModerationChecks" [value]="attack">
                                    {{attack}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="marginDiv">
                            <!-- <h3 class="HeadingLabelSM">Recognizers To Detect</h3> -->
                            <mat-select #select3 multiple id="selectApplicableAttacks" class="dropdown" formControlName="recognizerNamesToDetect" placeholder="Recognizers To Detect">
                                <div class="select-all">
                                    <mat-checkbox (change)="toggleAllSelection3($event)" color="primary">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (click)="selectrecognizerList()" class="dropdownOptions" *ngFor="let attack of recognizerList" [value]="attack">
                                    {{attack}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="marginDiv">
                            <!-- <h3 class="HeadingLabelSM">Recognizers To Block</h3> -->
                            <mat-select #select4 multiple id="selectApplicableAttacks" class="dropdown" formControlName="recognizerNamesToBlock" placeholder="Recognizers To Block">
                                <div class="select-all">
                                    <mat-checkbox (change)="toggleAllSelection4($event)" color="primary">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (click)="selectrecognizerListtoblock()" class="dropdownOptions" *ngFor="let attack of recognizerList" [value]="attack">
                                    {{attack}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="marginDiv">
                            <!-- <h3 class="HeadingLabelSM">Restrictedtopics</h3> -->
                            <mat-select #select5 multiple id="selectApplicableAttacks" class="dropdown" formControlName="Restrictedtopics" placeholder="Restrictedtopics">
                                <div class="select-all">
                                    <mat-checkbox (change)="toggleAllSelection5($event)" color="primary">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (click)="selectRestrictedtopics()" class="dropdownOptions" *ngFor="let attack of Restrictedtopics" [value]="attack">
                                    {{attack}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <!-- -->

                        <div class="marginDiv">
                            <label class="sliderLabel" style="padding-bottom: 0px;">Theme Name:</label>
                            <input type="text" class="form-control form-InputText" placeholder="Enter Value" aria-label="Theme Name" formControlName="ThemeName">

                            <label class="sliderLabel" style="padding-bottom: 0px;">Theme Texts:</label>
                            <input type="text" class="form-control mb-3 form-InputText " placeholder="Enter comma(,) separated values" style="width: 100%;" formControlName="ThemeTexts">
                        </div>
                        <!--  -->
                    </div>
                    <div class="d-flex flex-column" style="max-width: 75%;">
                        <!-- Right column content -->
                        <!-- <form [formGroup]="FmConfigResponseForm" class="d-flex flex-column"> -->
                        <!-- </form> -->
                        <div>
                            <!-- master -->


                            <div class="row mb-3">
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">JailBreak Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['JailbreakThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="JailbreakThreshold">
                                        </mat-slider>

                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Prompt Injection Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['PromptInjectionThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="PromptInjectionThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Refusal Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['RefusalThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="RefusalThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Toxicity Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['ToxicityThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="ToxicityThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Severe Toxicity Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['SevereToxicityThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="SevereToxicityThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Identity Attack Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['IdentityAttackThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="IdentityAttackThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Threat Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['ThreatThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="ThreatThreshold">
                                        </mat-slider>
                                    </div>
                                </div>

                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Profanity Count Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['ProfanityCountThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="ProfanityCountThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Obscene Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['ObsceneThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="ObsceneThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Insult Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['InsultThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="InsultThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Restricted topic Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['RestrictedtopicThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="RestrictedtopicThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="col" style="width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">SexualExplicit Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['SexualExplicitThreshold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="SexualExplicitThreshold">
                                        </mat-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col" style="max-width: 33%;">
                                    <div style="padding-left: 25px; width: 100%;">
                                        <div class="d-flex justify-content-between">
                                            <label style="padding-left: 0px; margin-bottom: 0px;" class="sliderLabel">Theme Threshold</label>
                                            <span class="tempInputBox">{{FmConfigResponseForm.controls['Themethresold'].value}}</span>
                                        </div>
                                        <mat-slider [disabled]="disabled" [max]="max" [min]="min" [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks" style="width: 100%;">
                                            <input matSliderThumb #slider formControlName="Themethresold">
                                        </mat-slider>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- out side the 2 colloums -->

                <div class="d-flex justify-content-center align-items-center ps-3">
                    <button mat-raised-button class="buttonMain align-bottom" style="margin-top: 14px;" color="black" (click)="submit()">Submit</button>
                </div>
            </div>
        </form>
    </div>


    <!--  -->

    <!-- test  -->