/*  MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.custom-panel .card-body {
    height: 100px;
    /* adjust as needed */
    overflow-y: auto;
    /* add scrollbar if content is taller than height */
}


/* .accordion {
    --#{$prefix}accordion-btn-padding-x: #{$accordion-button-padding-x};
    --#{$prefix}accordion-btn-padding-y: #{$accordion-button-padding-y};
  } */

.accordion-button {
    padding: .5rem
}

.accordion-button:not(.collapsed) {
    /* color: #000; */
    /* Uncomment and replace with your desired color */
    background-color: #f5f5f5;
    /* Replace with your desired background color */
    /* box-shadow: inset 0 -1px 0 #ccc; */
    /* Uncomment and replace with your desired box-shadow */
}

.accordion-button:focus {
    box-shadow: none;
}

.form-select1 {
    width: 10rem;
    height: 1.813rem;
    font-size: 0.75rem;
    margin-bottom: 1.10rem;
}


/* .form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.btnRound {
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    color: #8626C3;
    margin: 0.5rem;
}

.btnRound i {
    font-size: medium;
    padding: 4px;
}

.addBtn {
    padding: 0px 8px 4px 7px;
    font-weight: 500;
}

.InputPop {
    height: 1.2rem !important;
    font-size: 0.75rem!important;
    font-family: 'Segoe UI' !important;
    color: #7E7E7E !important;
}

.HeadingLabelSM {
    color: #7E7E7E;
    padding: 0px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    /* margin-top: 1.8rem; */
}

:host .dropdown {
    max-width: 15rem;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: smaller;
}

.form-select {
    width: 10rem;
    height: 1.813rem;
    font-size: 0.75rem;
    margin-bottom: 1.10rem;
}

.marginDiv {
    margin: .5rem
}

.mainLabel {
    width: 100%;
    color: #382261;
    opacity: 70%;
    padding: 0px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
}


/*  */


/* .HeadingLabel {
  color: #7E7E7E;
  padding: 5px 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 11px;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  transition: color 0.3s ease;
} */

.HeadingLabel {
    color: #7E7E7E;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.HeadingLabel2 {
    color: #7E7E7E;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.toggleLableOn {
    color: #8626C3;
}

.activeTab {
    color: #8626C3;
    position: relative;
}

.activeTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #8626C3;
}


/* Toggle Switch */

.switch {
    display: inline-block;
}

.switch input {
    display: none;
}

.switch label {
    display: block;
    width: 43px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    background-color: #E0DCEC;
    margin: 0px 5px;
}

.switch label::after {
    content: "";
    display: inherit;
    width: 14px;
    height: 14px;
    border-radius: 12px;
    background: #8626C3;
    transition: 0.3s;
    border: 2px solid white;
}

.switch input:checked~label {
    border-color: #ffffff;
}

.switch input:checked~label::after {
    translate: 23px 0;
    background: #8626C3;
}


/* 

 */

.mainLabel2 {
    color: #7E7E7E;
    padding: 0px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Segoe UI';
    margin-bottom: 0px;
}

.mainLabelSM {
    font-size: 12px;
}

.mainLabelLight {
    font-weight: 400;
}

.fixed-height-card {
    height: 100px;
    overflow-y: auto;
}

.HeadingLabel {
    color: #7E7E7E;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 11px;
    margin-right: 1.7rem;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.activeTab {
    color: #8626C3;
    position: relative;
}

.activeTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 35%; */
    border-bottom: 2px solid #8626C3;
}

.hyperLink {
    color: #8626C3;
    cursor: pointer;
    text-decoration: underline;
}

.cursor {
    cursor: pointer;
}

.snackBar-custom {
    background-color: white;
}

.mat-black {
    color: white !important;
    background-color: #231F20 !important;
}

.buttonMain {
    font-family: 'Segoe UI';
    font-weight: semi-bold;
    font-size: .75rem;
    height: 28px;
    min-width: fit-content;
}


/* .mat-mdc-button[disabled], .mat-mdc-unelevated-button[disabled], .mat-mdc-raised-button[disabled], .mat-mdc-outlined-button[disabled] {
  pointer-events: none;
  background-color: grey; 
  color: white; 
}
.mat-stroked-button.mat-button-disabled.mat-button-disabled {    
  pointer-events: none;
  color: #FFFFFF;
  background-color: #008cba
  
  }
   */

.disabled {
    /* pointer-events: none; */
    cursor: not-allowed;
    opacity: 0.6;
}

.batchTable-container {
    display: flex;
    justify-content: space-between;
}

.styled-table {
    /* margin-left: 1rem; */
    width: 95%;
    border-collapse: collapse;
}

.styled-table th.header {
    /* Segoe UI, Semibold .75rem */
    font-size: 0.70rem;
    font-family: 'Segoe UI';
    font-weight: 600;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-right: 10px;
    /* background-color: #4CAF50; */
    color: #382261;
    opacity: 70%;
    text-transform: uppercase;
}

.styled-table td {
    /* Segoe UI, regular */
    font-size: 0.70rem;
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #061838;
}

.styled-table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


/* .ngx-pagination .current {
  background: #8626C3 !important;
} */

.ngx-pagination .current {
    padding: .1875rem .625rem;
    /* background: #2199e8; */
    background: #8626C3 !important;
    color: #fefefe;
    cursor: default;
}

.ngx-pagination a {
    text-decoration: none;
}

.pagination-label {
    font-family: 'Segoe UI';
    font-weight: 500 !important;
    font-size: .60rem;
    margin-right: 100px;
}

.pagination-info {
    font-family: 'Segoe UI';
    font-weight: 500 !important;
    font-size: 12px;
    color: #7E7E7E;
}

.mat-primary2 {
    color: #8626C3;
    /* background-color:#BFBFBF; */
}

.mat-primary3 {
    color: #B10000;
    /* background-color:#BFBFBF; */
}

:host ::ng-deep .ngx-pagination .current {
    background: #8626C3;
}

:host ::ng-deep .ngx-pagination a {
    text-decoration: none;
    font-weight: 500;
}

::ng-deep.cdk-overlay-backdrop.custom-backdrop {
    background: rgba(0, 0, 0, 0.6);
    top: 57px;
    width: 100%;
    height: calc(100% - 57px);
}

::ng-deep.cdk-overlay-container {
    z-index: 1056 !important;
    /* Adjust if needed */
}