__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# SonarQube local scanner artifacts
.scannerwork/

# Jupyter and data artifacts
*.ipynb
*.csv
*.xlsx
*.xls

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build & Venvs
build/
dist/
.eggs/
*.egg-info/
.venv/
venv/
ENV/

# Generated reports
*.pdf
app/routing/temp_report.html

# Logs
*.log

# Local secrets
.env
*.pyc
env/
__pycache__/