<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div>
    <div class="w-25 mb-4 mt-4">
        <select [(ngModel)]="activeTable" class="form-select shadow-none" style="font-size: 12px;">
            <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
        </select>
    </div>
    <div *ngIf="isLoadingTable">
        <ngx-skeleton-loader count="5" appearance="line" [theme]="{ 'border-radius': '20px', height: '30px', width:'900px'}">
        </ngx-skeleton-loader>
    </div>
    <div *ngIf="!isLoadingTable">
        <div class="d-flex justify-content-end my-3 pr-5 mr-5">
            <div style="background-color: #8626C3; width: 18px; height: 8px;" class="mt-2"></div>
            <label class="ml-2" style="font-size: 14px;">Infosys Model</label>
        </div>
        <table class="styled-table" *ngIf="activeTable=='Model Fairness'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">Sentiment Analysis (SST-2)</th>
                <th class="header">Assessing Sentence Grammaticality (CoLA)</th>
                <th class="header">Assessing Sentence Pair Similarity (QQP)</th>
                <th class="header">Assessing Sentence Pair Similarity (MPRC)</th>
                <th class="header">Assessing Multi-Genre Natural Language Inference (MNLI)</th>
                <th class="header">Assessing Question-Answering Natural Language Inference (QNLI)</th>
                <th class="header">Assessing Sentence Entailment (RTE)</th>
                <th class="header">Assessing Natural Language Inference (WNLI)</th>
                <th class="header">Assessing Multiple Choice Question (MMLU)</th>
                <th class="header">Assessing Question Answering (SQuAD-v2)</th>
                <th class="header">Assessing Spoken Language Translation (IWSLT)</th>
                <th class="header">Related To Machine Translation (UN_Multi)</th>
                <th class="header">Assessing Mathematics Tasks (Math)</th>
                <th class="header">Avg</th>
            </tr>
            <tr *ngFor="let item of dataSourceRobustness">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.modelName}}</td>
                <td class="center-align">{{ item.SST_2}}</td>
                <td class="center-align">{{ item.CoLA}}</td>
                <td class="center-align">{{ item.QQP}}</td>
                <td class="center-align">{{ item.MPRC}}</td>
                <td class="center-align">{{ item.MNLI}}</td>
                <td class="center-align">{{ item.QNLI}}</td>
                <td class="center-align">{{ item.RTE}}</td>
                <td class="center-align">{{ item.WNLI}}</td>
                <td class="center-align">{{ item.MMLU}}</td>
                <td class="center-align">{{ item.SQuAD_v2}}</td>
                <td class="center-align">{{ item.IWSLT}}</td>
                <td class="center-align">{{ item.UN_Multi}}</td>
                <td class="center-align">{{ item.Math}}</td>
                <td class="center-align">{{ item.Avg}}</td>
            </tr>
        </table>
        <table class="styled-table" *ngIf="activeTable=='Adversarial Robustness'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">TextBugger</th>
                <th class="header">DeepWordBug</th>
                <th class="header">TextFoller</th>
                <th class="header">BertAttack</th>
                <th class="header">CheckList</th>
                <th class="header">StressTest</th>
                <th class="header">Semantic</th>
            </tr>
            <tr *ngFor="let item of dataSourceAttackScore">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.modelName}}</td>
                <td class="center-align">{{ item.TextBugger}}</td>
                <td class="center-align">{{ item.DeepWordBug}}</td>
                <td class="center-align">{{ item.TextFoller}}</td>
                <td class="center-align">{{ item.BertAttack}}</td>
                <td class="center-align">{{ item.CheckList}}</td>
                <td class="center-align">{{ item.StressTest}}</td>
                <td class="center-align">{{ item.Semantic}}</td>
            </tr>
        </table>
        <table class="styled-table" *ngIf="activeTable=='Model-Fairness'">
            <tr>
                <th class="header">
                    <div style="display: flex; align-items: center;">
                        Model Name
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('stereotype_recognition')" matTooltip="Identifying unfair generalizations about people." [ngClass]="{'highlighted-column': currentSortColumn === 'stereotype_recognition'}">
                    <div style="display: flex; align-items: center;">
                        Bias Detection
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'stereotype_recognition' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'stereotype_recognition' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('overall_agreement_rate')" matTooltip="Identifying unfair generalizations about people by checking how less model agrees to biased statements" [ngClass]="{'highlighted-column': currentSortColumn === 'overall_agreement_rate'}">
                    <div style="display: flex; align-items: center;">
                        Fair Agreement Rate
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'overall_agreement_rate' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'overall_agreement_rate' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('stereotype_query_test')" matTooltip="Identifying unfair generalizations about people by checking how less model prefers to answer on biased statements" [ngClass]="{'highlighted-column': currentSortColumn === 'stereotype_query_test'}">
                    <div style="display: flex; align-items: center;">
                        Fairness Reasoning
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'stereotype_query_test' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'stereotype_query_test' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('disparagement_sex')" matTooltip="Ensuring language is free from negative or harmful comments against Gender." [ngClass]="{'highlighted-column': currentSortColumn === 'disparagement_sex'}">
                    <div style="display: flex; align-items: center;">
                        Disparagement - Gender
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'disparagement_sex' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'disparagement_sex' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('disparagement_race')" matTooltip="Ensuring language is free from negative or harmful comments against Race" [ngClass]="{'highlighted-column': currentSortColumn === 'disparagement_race'}">
                    <div style="display: flex; align-items: center;">
                        Disparagement - Race
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'disparagement_race' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'disparagement_race' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('prefereence_rta')" matTooltip="Identifying unfair preferences of the model for different demographies." [ngClass]="{'highlighted-column': currentSortColumn === 'prefereence_rta'}">
                    <div style="display: flex; align-items: center;">
                        Neutrality
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'prefereence_rta' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'prefereence_rta' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
                <th class="header pointer-cursor" (click)="sortData('overall')" matTooltip="Overall Score" [ngClass]="{'highlighted-column': currentSortColumn === 'overall'}">
                    <div style="display: flex; align-items: center;">
                        Overall Score
                        <span class="sort-icons">
                <span [class.active]="currentSortColumn === 'overall' && sortDirection === 'asc'">▲</span>
                        <span [class.active]="currentSortColumn === 'overall' && sortDirection === 'desc'">▼</span>
                        </span>
                    </div>
                </th>
            </tr>
            <tr *ngFor="let item of fairness">

                <td [ngStyle]="{'color': item['inhouse_model'] ? '#8626C3' : '#061838'}">{{ item['model_name']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'stereotype_recognition'}" style="text-align: center; vertical-align: middle;">{{ item['stereotype_recognition']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'overall_agreement_rate'}" style="text-align: center; vertical-align: middle;">{{ item['overall_agreement_rate']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'stereotype_query_test'}" style="text-align: center; vertical-align: middle;">{{ item['stereotype_query_test']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'disparagement_sex'}" style="text-align: center; vertical-align: middle;">{{ item['disparagement_sex']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'disparagement_race'}" style="text-align: center; vertical-align: middle;">{{ item['disparagement_race']}}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'prefereence_rta'}" style="text-align: center; vertical-align: middle;">{{ item['prefereence_rta'] }}</td>
                <td [ngClass]="{'highlighted-column': currentSortColumn === 'overall'}" style="text-align: center; vertical-align: middle;">{{ toString(item['overall']) | slice:0:5 }}</td>
            </tr>
        </table>
        <table class="styled-table" *ngIf="activeTable=='Model-Truthfullness'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Internal</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">External</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Hallucination</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Persona Sycophancy
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Preference Sycophancy
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Adv Factuality</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Overall Score
                    </div>
                </th>
            </tr>
            <tr *ngFor="let item of dataSourceTruthfullness">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.model_name}}</td>
                <td class="center-align">{{ item.internal}}</td>
                <td class="center-align">{{ item.external}}</td>
                <td class="center-align">{{ item.hallucination}}</td>
                <td class="center-align">{{ item.persona_sycophancy}}</td>
                <td class="center-align">{{ item.preference_sycophancy}}</td>
                <td class="center-align">{{ item.adv_factuality}}</td>
                <td class="center-align">{{ toString(item['overall']) | slice:0:5 }}</td>
            </tr>
        </table>

        <!-- MODEL SAFETY -->
        <table class="styled-table" *ngIf="activeTable=='Model-Safety'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Jailbreak -
                        <mat-icon>arrow_upward</mat-icon>
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Toxicity -
                        <mat-icon>arrow_downward</mat-icon>
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Misuse -
                        <mat-icon>arrow_upward</mat-icon>
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Exaggerated Safety -
                        <mat-icon>arrow_downward</mat-icon>
                    </div>
                </th>

            </tr>
            <tr *ngFor="let item of dataSourceSafety">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.model_name}}</td>
                <td class="center-align">{{ item.jailbreak}}</td>
                <td class="center-align">{{ item.toxicity}}</td>
                <td class="center-align">{{ item.misuse}}</td>
                <td class="center-align">{{ item.exaggerated_safety}}</td>
            </tr>
        </table>

        <table class="styled-table" *ngIf="activeTable=='Model-Privacy'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Awareness Normal</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Awareness Aug</div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Leakage RTA
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Leakage TD
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Leakage CD
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Privacy Awareness Correlation </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Overall Score
                    </div>
                </th>
            </tr>
            <tr *ngFor="let item of dataSourcePrivacy">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.model_name}}</td>
                <td class="center-align">{{ item.privacy_awareness_normal}}</td>
                <td class="center-align">{{ item.privacy_awareness_aug}}</td>
                <td class="center-align">{{ item.privacy_leakage_rta }}</td>
                <td class="center-align">{{ item.privacy_leakage_td}}</td>
                <td class="center-align">{{ item.privacy_leakage_cd }}</td>
                <td class="center-align">{{ item.privacy_awareness_correlation}}</td>
                <td class="center-align">{{ toString(item['overall']) | slice:0:5 }}</td>
            </tr>
        </table>
        <table class="styled-table" *ngIf="activeTable=='Model-Ethics'">
            <tr>
                <th class="header">Model Name</th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Social Chemistry 101 Acc
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">ETHICS Acc </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">MoralChoice Acc
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">MoralChoice RTA
                    </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Emotional Acc </div>
                </th>
                <th class="header">
                    <div style="display: flex;align-items: center;">Overall Score
                    </div>
                </th>
            </tr>
            <tr *ngFor="let item of dataSourceMachineEthics">
                <td [ngStyle]="{'color': item?.inhouse_model ? '#8626C3' : '#061838'}">{{ item.model_name}}</td>
                <td class="center-align">{{ item.social_chemistry_101_acc }}</td>
                <td class="center-align">{{ item.ehitcs_acc }}</td>
                <td class="center-align">{{ item.moralchoice_acc }}</td>
                <td class="center-align">{{ item.moralchoice_rta }}</td>
                <td class="center-align">{{ item.emotional_acc }}</td>
                <td class="center-align">{{ toString(item['overall']) | slice:0:5 }}</td>
            </tr>
        </table>
    </div>
    <div style="height: 50px;">

    </div>>