<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<label class="topHeading">AI CONTENT DETECTOR</label>
<div class="header-container">
    <h3>ENTER PROMPT</h3>
    <div class="spacer"></div>
    <h3 *ngIf="loadComplete">RESULT</h3>
</div>
<ng-container class="selectTypeShimmer" *ngIf="isLoadingPrompt">
    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 'border-radius': '10px', height: '170px', width: '800px'}">
    </ngx-skeleton-loader>
</ng-container>
<div *ngIf="!isLoadingPrompt" style="display: flex;">
    <div class="textarea-container">
        <textarea class="textarea-input" [(ngModel)]="Prompt" id="prompt" matInput required [innerHTML]="safeTemplateData"></textarea>
        <button mat-icon-button class="submit-button" (click)="textValidationMethod()">
            <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button class="reset-button" (click)="resetText()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div *ngIf="responseLoading && !loadComplete" class="shimmer-loader"></div>
    <div *ngIf="loadComplete">
        <!-- <h1 class="h1-div">RESULT
        </h1> -->
        <div class="outer-card">
            <mat-card class="prediction-card">
                <mat-card-header>
                    <mat-card-title>{{ response.prediction | uppercase }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>

                <div class="inner-cards">
                    <mat-card class="score-card">
                        <mat-card-header>
                            <mat-card-title>{{ response.score | number:'1.2-2' }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Actual Score for This Prompt</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="threshold-card">
                        <mat-card-header>
                            <mat-card-title>{{ response.threshold | number:'1.2-2' }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Minimum Human-Like Threshold</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card>
        </div>
        <!-- <table class="bordered-table">
            <thead>
                <tr>
                    <th class="table-header">DESCRIPTION</th>
                    <th class="table-header">VALUE</th>
                </tr>
                <tr class="divider">
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-row">MINIMUM HUMAN-LIKE THRESHOLD SCORE</td>
                    <td class="table-row">{{response.threshold}}</td>
                </tr>
                <tr>
                    <td class="table-row">ACTUAL SCORE FOR THIS PROMPT</td>
                    <td class="table-row">{{response.score}}</td>
                </tr>
                <tr>
                    <td class="table-row">PREDICTION</td>
                    <td class="table-row">{{response.prediction}}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
<div>
    <!-- <h3>Sample Text</h3>
    <div>
        <mat-checkbox class="rounded-checkbox" color="primary" id="ai" name="content" [(ngModel)]="isAIChecked" (change)="onCheckboxChange('ai')">AI Generated</mat-checkbox>
    </div>
    <div>
        <mat-checkbox class="rounded-checkbox" color="primary" id="human" name="content" [(ngModel)]="isHumanChecked" (change)="onCheckboxChange('human')">Human Generated</mat-checkbox>
    </div> -->
    <div class="button_container">
        <button mat-button class="custom_button" (click)="onButtonClick('ai')">Sample AI Generated Text</button>
        <button mat-button class="custom_button" (click)="onButtonClick('human')">Sample Human Generated Text</button>
    </div>
</div>