/*  MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.mainLabel {
    color: #2e2e2e;
    padding: 0px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Segoe UI';
    margin-bottom: 0px;
}

.mainLabelSM {
    font-size: 12px;
}

.mainLabelLight {
    font-weight: 400;
}

.fixed-height-card {
    height: 100px;
    overflow-y: auto;
}

table {
    width: 100%;
    color: #7E7E7E;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 400;
    tr {
        padding: 5px 0px;
        td {
            padding-right: 8px;
            /* text-align: center; */
        }
    }
}

.tokenImage {
    height: 280px;
}

.h-300 {
    height: 300px;
}

.HeadingLabel {
    color: #7E7E7E;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 11px;
    margin-right: 1.7rem;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.activeTab {
    color: #8626C3;
    position: relative;
}

.activeTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 35%; */
    border-bottom: 2px solid #8626C3;
}

.hyperLink {
    color: #8626C3;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
}

.cursor {
    cursor: pointer;
}

.snackBar-custom {
    background-color: white;
}

input[type='radio'] {
    accent-color: #8626C3;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.radio-container label {
    margin-right: 10px;
}


/* Toggle Switch */

.switch {
    display: inline-block;
}

.switch input {
    display: none;
}

.switch label {
    display: block;
    width: 40px;
    height: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    background-color: #E0DCEC;
    margin: 0px 5px;
}

.switch label::after {
    content: "";
    display: inherit;
    width: 13px;
    height: 13px;
    border-radius: 12px;
    transition: 0.3s;
    background-color: #8626C3;
    border: 1.5px solid white;
}

.switch input:checked~label {
    border-color: #ffffff;
    background-color: #8626C3;
}

.switch input:checked~label::after {
    translate: 20px 0;
    background: #8626C3;
    background-color: #E0DCEC;
}

.switch input:disabled~label {
    background-color: #cccccc;
    cursor: not-allowed;
}

.switch input:disabled:checked~label {
    background-color: #aaaaaa;
}

.switch input:disabled~label::after {
    background-color: #bbbbbb;
}

.thought-value {
    white-space: pre-line;
    line-height: 1;
}

.explainData {
    padding-right: 50px;
}

.score-meter-container {
    display: flex;
    align-items: center;
    position: relative;
}

.score-number {
    width: 20px;
    text-align: center;
    font-size: 12px;
}

.score-meter {
    width: 400px;
    height: 20px;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 5px;
    position: relative;
    margin: 0 10px;
}

.score-meter-fill {
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.score-pointer {
    position: absolute;
    top: -25px;
    /* Adjust as needed to position the pointer above the meter */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-text {
    background: black;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    /* Space between the text and the pointer */
}

.score-pointer::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.score-markings {
    position: absolute;
    top: 0;
    left: 2px;
    width: 99.5%;
    height: 100%;
    pointer-events: none;
    /* Ensure markings don't interfere with other elements */
}

.score-marking {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: black;
    /* Color of the markings */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Align numbers at the bottom of the meter */
    left: calc(var(--marking-position) - 0.3%);
}

.score-marking-number {
    position: absolute;
    bottom: -20px;
    /* Adjust as needed to position the numbers below the meter */
    font-size: 10px;
    /* Adjust the font size as needed */
    transform: translateX(-50%);
    left: 1px;
}

.mainBtn {
    font-family: 'Segoe UI';
    font-weight: semi-bold;
    font-size: 11px;
    height: 24px;
    width: max-content;
    padding: 0 8px 0 8px !important;
}

.custom-icon {
    margin-left: 0rem !important;
    font-size: inherit;
    height: inherit;
    line-height: initial;
    width: inherit;
}

.card-header {
    display: flex;
    justify-content: space-between;
    /* Optional: Align time taken to the right */
}