fastapi==0.110.1
cvxpy
pydantic 
uvicorn 
aif360 
pandas
pyyaml
numpy
spacy
python-multipart
holisticai
BlackBoxAuditing
pymongo
python-dotenv
joblib
fairlearn
pyarrow
openai==0.28.0
google-generativeai
transformers
torch
../lib/infosys_responsible_ai_fairness-1.1.3-py2.py3-none-any.whl
