/*  MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.switch {
    display: inline-block;
    vertical-align: middle;
}

.switch input {
    display: none;
}

.switch label {
    display: block;
    width: 43px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    background-color: #E0DCEC;
    margin: 0px;
}

.switch label::after {
    content: "";
    display: inherit;
    width: 14px;
    height: 14px;
    border-radius: 12px;
    background: #8626C3;
    transition: 0.3s;
    border: 2px solid white;
}

.switch input:checked~label {
    border-color: #ffffff;
    background: #8626C3;
}

.switch input:checked~label::after {
    translate: 23px 0;
    background: #8626C3;
}

.header-style {
    font-family: Segoe UI;
    font-size: 13px;
    color: #382261;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    /* Ensure no default margin */
    padding: 0;
    /* Ensure no default padding */
}

.styled-table th {
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: Semibold;
}

.styled-table td {
    text-align: left;
    border: none;
}

.styled-table tr {
    height: 35px;
}

.statustext {
    font-family: Segoe UI;
    font-size: 12px;
    margin-left: 10px;
}