<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="p-3 px-4 h-100">
    <div class="d-flex justify-content-between align-items-center pb-4">
        <p class="headingTop">Add Data</p>
        <button class="close pb-2" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex flex-column justify-content-between" style="height:90%;">
        <div>
            <div [hidden]="!(currentScreen === 1)">
                <input class="form-control w-75 shadow-none" type="text" placeholder="Title" aria-label="Title" [(ngModel)]="givenTitle">
                <div class="d-flex w-75 justify-content-between">
                    <select class="form-select shadow-none" style="width: 8rem;" [disabled]="!allDataFiles" (change)="selectDataMethod($event.target)">
                        <option selected disabled>Data File</option>
                        <option *ngFor="let option of allDataFiles" [value]="option.sampleData" [id]="option.dataId">
                            {{option.dataSetName}}</option>
                    </select>
                    <select class="form-select shadow-none" style="width: 8rem;" [disabled]="!allModels" (change)="selectModelMethod($event.target)">
                        <option selected disabled>Model</option>
                        <option *ngFor="let option of allModels" [value]="option.modelId">{{option.modelName}}</option>
                    </select>
                    <select class="form-select shadow-none" style="width: 8rem;" [disabled]="!allVectors" (change)="selectVectorMethod($event.target)">
                        <option selected disabled>Preprocessor</option>
                        <option *ngFor="let option of allVectors" [value]="option.PreprocessorId">
                            {{option.PreprocessorName}}</option>
                    </select>
                </div>
                <div class="w-75">
                    <div>
                        <h3 class="HeadingLabelSM">Select Type</h3>
                        <div class="checkbox-container d-flex justify-content-between">
                            <mat-checkbox class="custom-frame" (change)="viewoptions()" color="primary" *ngFor="let option of options" [(ngModel)]="selectedOptions[option]">{{option}}</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="!(currentScreen === 2)">
                <div *ngIf="tenantarr.includes('Security')">
                    <h3 class="HeadingLabelSM">Security</h3>
                    <mat-select #select2 multiple id="selectApplicableAttacks" class="dropdown" [(ngModel)]="selectedApplicableAttack" placeholder="Choose Option">
                        <div class="select-all">
                            <mat-checkbox (change)="toggleAllSelection1($event)" color="primary">Select All
                            </mat-checkbox>
                        </div>
                        <mat-option (click)="selectApplicableAttackSecurity()" class="dropdownOptions" *ngFor="let data of applicableAttack" [value]="data">
                            {{data}}
                        </mat-option>
                    </mat-select>
                </div>
                <div *ngIf="tenantarr.includes('Explainability')">
                    <h3 class="HeadingLabelSM">Explainability</h3>
                    <mat-select #select3 multiple id="selectApplicableMethods" class="dropdown" [(ngModel)]="selectedApplicableMethod" placeholder="Choose option">
                        <div class="select-all">
                            <mat-checkbox (change)="toggleAllSelection2($event)" color="primary">Select All
                            </mat-checkbox>
                        </div>
                        <mat-option (click)="selectApplicableMethod()" class="dropdownOptions" *ngFor="let data of applicableMethod" [value]="data">
                            {{data}}
                        </mat-option>
                    </mat-select>
                </div>
                <div *ngIf="tenantarr.includes('Fairness')">
                    <h3 class="HeadingLabelSM">Fairness</h3>
                    <div>
                        <div>
                            <!-- <h3 class="HeadingLabelSM">Select Type</h3> -->
                            <div class="d-flex justify-content-between w-60">
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="preprocessing" name="fairnessType" value="preprocessing" [(ngModel)]="fairnessType">
                                    <label for="fairnessType" class="LabelSM ml-1 fw-normal">Preprocessing</label><br>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="postprocessing" name="fairnessType" value="postprocessing" [(ngModel)]="fairnessType">
                                    <label for="fairnessType" class="LabelSM ml-1 fw-normal">Postprocessing</label><br>
                                </div>
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="inprocessing" name="fairnessType" value="inprocessing" [(ngModel)]="fairnessType" (ngModelChange)="onChange($event)">
                                    <label for="fairnessType" class="LabelSM ml-1 fw-normal">InProcessing</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <select class="form-select shadow-none dropdownSelect w-58" [(ngModel)]="selectTypeFairness" *ngIf="fairnessType == 'preprocessing'">
                                <option value="" selected disabled>Select Type</option>
                                <option *ngFor="let option of selectTypeFairnessOptions" [value]="option.value">
                                    {{option.viewValue}}
                                </option>
                            </select>
                            <select class="form-select shadow-none dropdownSelect w-58" [(ngModel)]="selectTypeFairness" *ngIf="fairnessType == 'postprocessing'">
                                <option value="" selected disabled>Select Type</option>
                                <option value ="ANALYZE"> ANALYZE </option>
                            </select>
                            <div *ngIf="((fairnessType == 'preprocessing') && (selectTypeFairness == 'ANALYZE' || selectTypeFairness == 'MITIGATE')) || (fairnessType == 'postprocessing' && (selectTypeFairness != 'MITIGATE' && selectTypeFairness == 'ANALYZE')) ">
                                <select class="form-select shadow-none dropdownSelect w-58" (change)="onSelectTaskType($event.target)">
                                    <option selected disabled>Task Type</option>
                                    <option *ngFor="let option of taskTypeOptions" [value]="option.value">
                                        {{option.viewValue}}
                                    </option>
                                </select>
                                <select *ngIf="((fairnessType == 'preprocessing') && (selectTypeFairness == 'ANALYZE')) || fairnessType == 'postprocessing'" class="form-select shadow-none dropdownSelect w-58" (change)="onSelectMethodType($event.target)">
                                    <option selected disabled>Method</option>
                                    <ng-container *ngIf="fairnessType == 'preprocessing'">
                                        <option *ngFor="let option of pretrain" [value]="option.value">{{option.value}}
                                        </option>
                                    </ng-container>
                                    <ng-container *ngIf="fairnessType == 'postprocessing'">
                                        <option *ngFor="let option of posttrain" [value]="option.value">{{option.value}}
                                        </option>
                                    </ng-container>
                                </select>
                                <select *ngIf="((fairnessType == 'preprocessing') && (selectTypeFairness == 'MITIGATE'))" class="form-select shadow-none dropdownSelect w-58" [(ngModel)]="selectedMitigationTechnique">
                                    <option selected disabled>Mitigation Technique</option>
                                    <ng-container *ngIf="fairnessType == 'preprocessing'">
                                        <option *ngFor="let option of mitigationTechOptions" [value]="option.value">{{option.value}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div *ngIf="fairnessType == 'postprocessing' && selectTypeFairness == 'MITIGATE'">
                                <select class="form-select shadow-none dropdownSelect w-58" (change)="onSelectTaskType($event.target)">
                                    <option selected disabled>Training Dataset</option>
                                    <option *ngFor="let option of allDataFiles" [value]="option.sampleData">
                                        {{option.dataSetName}}
                                    </option>
                                </select>
                                <select class="form-select shadow-none dropdownSelect w-58" (change)="onSelectMethodType($event.target)">
                                    <option selected disabled>Test Dataset</option>
                                    <option *ngFor="let option of allDataFiles" [value]="option.sampleData">
                                        {{option.dataSetName}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="fairnessType == 'inprocessing'">
                                <div class="mb-2">
                                    <select class="form-select shadow-none dropdownSelect w-58" name="label" (change)="optionClickFromLabel($event.target)">
                                        <option selected disabled>Label</option>
                                        <option *ngFor="let label of resultLabel" [value]="label">{{label}}</option>
                                    </select>
                                    <input class="form-control shadow-none inputSMfont w-58" type="text" name="favorableLabel" [(ngModel)]="favorableLabel" placeholder="Favorable Label" />
                                    <!-- <input class="form-control shadow-none inputSMfont w-58" type="text" name="sensitiveFeatures" ngModel placeholder="Sensitive Features(Comma Separated)" /> -->
                                    <mat-select #selectRef multiple class="dropdown" [(ngModel)]="senValues" style="width: 58% !important;">
                                        <mat-option *ngFor="let data of resultLabel" [value]="data">
                                            {{data}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="!(currentScreen === 3)">
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex align-items-center">
                        <h3 class="LabelSM">Label:</h3>
                        <select class="form-select shadow-none mb-0" name="label" (change)="optionClickFromLabel($event.target)">
                            <option value="" disabled selected>Choose option</option>
                            <option *ngFor="let label of resultLabel" [value]="label">{{label}}</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="LabelSM">Favourable Outcome:</h3>
                        <select class="form-select shadow-none mb-0" name="data" [disabled]="!selectedLabel" (change)="optionClickFromFO($event.target)">
                            <option value="" disabled selected>Choose option</option>
                            <option *ngFor="let data of protectedResult" [value]="data">{{data}}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h3 class="LabelSM">Protected Attribute:</h3>
                        <select class="form-select shadow-none mb-0" name="data" [disabled]="!selectedFO" (change)="optionClickFromPA($event.target)">
                            <option value="" disabled selected>Choose option</option>
                            <option *ngFor="let data of pAResult" [value]="data">{{data}}</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center">
                        <h3 class="LabelSM">Priviledged:</h3>
                        <select class="form-select shadow-none mb-0" name="data" [disabled]="!selectedProtAtt" (change)="optionClickFromPriv($event.target)">
                            <option value="" disabled selected>Choose option</option>
                            <option *ngFor="let data of priviRes" [value]="data">{{data}}</option>
                        </select>
                    </div>
                </div> -->
                <div style="max-height: 320px; overflow-y: auto;">
                    <div class="d-flex justify-content-between mb-3" *ngFor="let row of rows; let i = index">
                        <div class="d-flex align-items-center">
                            <h3 class="LabelSM">Protected Attribute:</h3>
                            <select class="form-select shadow-none mb-0" name="data" [disabled]="!selectedFO" (change)="optionClickFromPA($event.target, i)">
                                <option value="" disabled selected>Choose option</option>
                                <option *ngFor="let data of pAResult" [value]="data">{{data}}</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center">
                            <h3 class="LabelSM">Priviledged:</h3>
                            <!-- <select class="form-select shadow-none mb-0" name="data" [disabled]="!selectedProtAtt" (change)="optionClickFromPriv($event.target, i)">
                                <option value="" disabled selected>Choose option</option>
                                <option *ngFor="let data of row.priviRes" [value]="data">{{data}}</option>
                            </select> -->
                            <mat-select #selectRef multiple class="dropdown" (selectionChange)="optionClickFromPriv($event, i)">
                                <mat-option *ngFor="let data of row.priviRes" [value]="data">
                                    {{data}}
                                </mat-option>
                            </mat-select>


                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center" *ngIf="selectoption1 == 'ALL' || selectoption1 =='CONSISTENCY' || selectedMitigationTechnique =='ALL' || selectedMitigationTechnique =='CONSISTENCY'">
                            <h3 class="LabelSM">K:</h3>
                            <input class="form-control w-75 shadow-none" type="text" placeholder="K Value" aria-label="K" [(ngModel)]="KValue">
                        </div>
                        <div class="d-flex align-items-center" *ngIf="fairnessType == 'postprocessing'">
                            <h3 class="LabelSM">Prediction Label:</h3>
                            <!-- <input class="form-control w-75 shadow-none" type="text" placeholder="Pred Label" aria-label="Pred label" [(ngModel)]="predLabel"> -->
                            <select class="form-select shadow-none mb-0" name="Pred Label" (change)="optionClickPredLabel($event.target)">
                                <option value="" disabled selected>Choose option</option>
                                <option *ngFor="let label of predLabelList" [value]="label">{{label}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="rows.length > 0 && rows[rows.length - 1].priv && rows[rows.length - 1].priv.length > 0" class="d-flex justify-content-end">
                        <span (click)="addRow()" class="btnRound addBtn">+</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-end pb-3">
            <div class="btnRound" (click)="previousScreen()" *ngIf="currentScreen !== 1">
                <i class="material-icons">arrow_back</i>
            </div>
            <div *ngIf="currentScreen == 3 || (currentScreen == 2 && !tenantarr.includes('Fairness'))" class="d-flex align-items-center pb-1" [class.disabled]="(currentScreen === 2 && !isScreen2Valid()) || (currentScreen===3 && !isScreen3Valid())">
                <button class="submitBtn" (click)="onUpload()">Submit</button>
            </div>
            <div *ngIf="(currentScreen == 2 && tenantarr.includes('Fairness') && fairnessType == 'inprocessing')" class="d-flex align-items-center pb-1">
                <button class="submitBtn" (click)="onUpload()">Submit</button>
            </div>
            <div class="btnRound" (click)="nextScreen()" [class.disabled]="(currentScreen === 2 && !isScreen2Valid()) || (currentScreen === 1 && !isScreen1Valid())" *ngIf="!(currentScreen == 3 || (currentScreen == 2 && !tenantarr.includes('Fairness')) || (fairnessType == 'inprocessing'))">
                <i class="material-icons">arrow_forward</i>
            </div>
        </div>
    </div>
</div>