# fastapi
# uvicorn
# pyyaml
transformers
tldextract
sentence-transformers
detoxify==0.5.0
# pandas
python-dotenv
django-phonenumbers
# pymongo
python-multipart
# psutil
# # memory_profiler
cuda-python==12.3.0
flask
waitress
flask_swagger_ui==4.11.1
diffusers==0.27.2
accelerate==0.28.0
../lib/aicloudlibs-0.1.0-py3-none-any.whl
#lib/en_core_web_lg-3.5.0-py3-none-any.whl
../lib/presidio_analyzer-4.0.6-py3-none-any.whl
#lib/torch-2.2.0+cu118-cp39-cp39-linux_x86_64.whl
