<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="mt-2">
    <!-- <button id="hiddenButton" (click)="changeApiUrls()">Hidden Button</button> -->
    <button style="display: none;" (click)="SettingValue()" (click)="onSubmit(form)" class="manage-access-btn">
    <mat-icon>send</mat-icon>{{ buttonText }}
  </button>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="d-flex">
        <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
        <div class="w-100 mr-2">
            <ng-container class="selectTypeShimmer" *ngIf="isLoadingPrompt">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 'border-radius': '10px', height: '170px', width: '800px'}">
                </ngx-skeleton-loader>
            </ng-container>
            <div *ngIf="!isLoadingPrompt">
                <label class="mainLabel">Enter Prompt</label>

                <div class="position-relative">

                    <textarea class="form-control w-100 txtArea shadow-none" rows="3" name="prompt" ngModel placeholder={{Placeholder}} #prompt="ngModel"></textarea>
                    <div class="border-0 position-absolute m-2 sendIcon">
                        <!-- <i class="fa fa-chevron-right"></i> -->
                        <button class="border-0  resetIcon" hidden>
                            <i class="material-icons">attach_file</i>
                        </button>
                        <button type="submit" class="border-0 sendIcon">
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                    <!-- ngb-popover-window -->
                    <div class="border-0 position-absolute m-2 resetIcon d-flex align-items-center" style="right: 0; top: 0;">
                        <input type="file" #fileInputMul (change)=" fileBrowseHandlerMultiModel($event)" style="display: none;">
                        <i class="material-icons icon-pointer" style="padding-right: 7px;" (click)="fileInputMul.click()" matTooltip="Image">image</i>
                        <!-- <mat-icon [inline]="true" style="font-size: 21px;" class="mr-2 text-lg icon-pointer"
                            [ngbPopover]="popoverContentEmoji" [autoClose]="false" triggers="manual"
                            #pEmoji="ngbPopover" placement="top" (click)="openPopOverEmoji()"
                            matTooltip="Emoji Enablement">tag_faces</mat-icon> -->
                        <i class="material-icons icon-pointer" style="padding-right: 5px;" [ngbPopover]="popoverContent" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="test(p)" placement="top" matTooltip="Translate">g_translate</i>
                        <i (click)="resetData(form)" class="material-icons icon-pointer" matTooltip="Reset">autorenew</i>
                    </div>
                </div>
                <div style="align-items: end;display: flex; flex-direction: column;" *ngIf="filesMultiModel.length != 0" class="mt-2">
                    <!-- <div style="height: 35px; width: 35px; border-radius: 8px;" class="position-relative mb-1">
                            <img src={{imgShowUrl}} style="height: 35px; width: 35px;">
                        </div> -->
                    <div style="display: flex; justify-content: flex-start;">
                        <p class="mainLabel mainLabelSM" style="margin: 0px; font-weight: 500; color:grey; font-size: 0.65rem;">{{ selectedFileNameMultiModel }}</p>
                        <button type="button" class="cancel-button ml-1" (click)="removeFileMultimodel();">
                            <mat-icon>close</mat-icon>
                        </button>
                        <p class="mainLabel mainLabelSM ml-2 cursor" style="text-decoration: underline; font-size: 0.6rem;" (click)="openDialog(imgShowUrl)">
                            (Preview)</p>
                    </div>
                </div>
            </div>
            <div *ngIf="tLoading==true">
                <!-- <ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader> -->
                <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
            </div>
            <div *ngIf="tState== true">
                <ng-container *ngTemplateOutlet="translateResponseTemplate"></ng-container>

            </div>
            <div *ngIf="spinner == true">
                <div class="d-flex pt-4">
                    <ngx-skeleton-loader count="4" appearance="line" [theme]="{ 'border-radius': '10px',width:'120px','margin-right':'20px', height: '20px'}" />
                </div>
                <div class="d-flex">
                    <ngx-skeleton-loader count="2" appearance="line" [theme]="{ 'border-radius': '10px',width:'100px','margin-right':'20px', height: '20px'}" />
                </div>
                <ngx-skeleton-loader count="3" appearance="line" [theme]="{ 'border-radius': '10px', height: '100px'}" />
            </div>
            <div *ngIf="spinner == false" class="pb-4">
                <div class="d-flex mt-4 mb-3">
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Request Moderation'
                      }" (click)="changeTab('Request Moderation')" *ngIf="((this.optionarr.includes('FM-Moderation')) && this.optionFlag == true && (this.tenantarr.includes('FM-Moderation')))">Request Moderation
                    </p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Response Moderation'
                      }" (click)="changeTab('Response Moderation'); setLoadTemplateResModTrue()" *ngIf="((this.optionarr.includes('FM-Moderation')) && this.optionFlag == true && (this.tenantarr.includes('FM-Moderation')))">
                        Response Moderation
                    </p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Response Comparison'
                      }" (click)="changeTab('Response Comparison')" *ngIf="((this.optionarr.includes('FM-Moderation')) && this.optionFlag == true && (this.tenantarr.includes('FM-Moderation')))">
                        Response Comparison
                    </p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Privacy Result'
                      }" (click)="changeTab('Privacy Result')" *ngIf="((this.optionarr.includes('Privacy')) && this.optionFlag == true && (this.tenantarr.includes('Privacy')))">Privacy</p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Profanity'
                      }" (click)="changeTab('Profanity')" *ngIf="((this.optionarr.includes('Profanity')) && this.optionFlag == true && (this.tenantarr.includes('Profanity')))">Safety</p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Explainability'
                      }" (click)="changeTab('Explainability')" *ngIf="((this.optionarr.includes('Explainability')) && this.optionFlag == true && (this.tenantarr.includes('Explainability')))">Explainability
                    </p>
                    <p class="HeadingLabel" role="button" [ngClass]="{
                        'activeTab': activeTab === 'Fairness'
                      }" (click)="changeTab('Fairness')" *ngIf="((this.optionarr.includes('Fairness')) && this.optionFlag == true && (this.tenantarr.includes('Fairness')))">Fairness
                    </p>
                </div>

                <div [hidden]="activeTab !== 'Request Moderation'">
                    <app-request-moderation *ngIf="!hallucinationSwitchCheck" [requestTime]="fmTimeApiResult.requestModeration" [openAITime]="fmTimeApiResult.OpenAIInteractionTime" [nemoChecksApiResponses]="nemoChecksApiResponses" [contentDetectorState]="contentDetectorState"
                        [prompt]="prompt" [modelName]="selectedLlmModel" [llmEvalPayload]="llmEvalPayload" [templateBasedPayload]="templateBasedPayload" [requestModerationTemplates]="requestModerationTemplates" [privAnzOutput]="privAnzOutput" [analyze]="analyze"
                        [fairness_response]="fairness_response" [imagePromptInjection]="imagePromptInjection" [imageJailbreak]="imageJailbreak" [imageRestrictedTopic]="imageRestrictedTopic" [coupledModeration]="coupledModeration" [hallucinationSwitchCheck]="hallucinationSwitchCheck"></app-request-moderation>
                    <app-request-moderation *ngIf="hallucinationSwitchCheck" [requestTime]="fmTimeApiResult.requestModeration" [openAITime]="fmTimeApiResult.OpenAIInteractionTime" [nemoChecksApiResponses]="nemoChecksApiResponses" [contentDetectorState]="contentDetectorState"
                        [prompt]="prompt" [modelName]="selectedLlmModel" [templateBasedPayload]="templateBasedPayload" [requestModerationTemplates]="requestModerationTemplates" [privAnzOutput]="privAnzOutput" [analyze]="analyze" [fairness_response]="fairness_response"
                        [imagePromptInjection]="imagePromptInjection" [imageJailbreak]="imageJailbreak" [imageRestrictedTopic]="imageRestrictedTopic" [coupledModeration]="coupledModeration" [hallucinationSwitchCheck]="hallucinationSwitchCheck"></app-request-moderation>
                </div>
                <div [hidden]="activeTab !== 'Response Moderation'">
                    <app-response-moderation *ngIf="!hallucinationSwitchCheck" [responseTime]="fmTimeApiResult.responseModeration" [openAITime]="fmTimeApiResult.OpenAIInteractionTime" [nemoModerationRailRes]="nemoModerationRailRes" [openAIRes]="openAIRes" [llmEvalPayload]="llmEvalPayload"
                        [responseModerationTemplates]="responseModerationTemplates" [templateBasedPayload]="templateBasedPayload" [selectedUseCaseName]="selectedUseCaseName" [setLoadTemplateResMod]="setLoadTemplateResMod" [summaryStatus]="coupledModerationRes?.moderationResults?.requestModeration?.summary?.status"
                        [hallucinationSwitchCheck]="hallucinationSwitchCheck"></app-response-moderation>
                    <app-response-moderation-hallucination *ngIf="hallucinationSwitchCheck" [responseTime]="fmTimeApiResult.responseModeration" [responseModerationResult]="hallucinationResModerationData" [nemoModerationRailRes]="nemoModerationRailRes" [openAIRes]="openAIRes"
                        [responseModerationTemplates]="responseModerationTemplates" [templateBasedPayload]="templateBasedPayload" [selectedUseCaseName]="selectedUseCaseName" [setLoadTemplateResMod]="setLoadTemplateResMod" [summaryStatus]="coupledModerationRes?.moderationResults?.requestModeration?.summary?.status"></app-response-moderation-hallucination>
                </div>
                <div [hidden]="activeTab !== 'Response Comparison'">
                    <app-response-comparison [openAIRes]="openAIRes" [cotState]="cotState" [fmRes]="coupledModerationRes" [nemoModerationRailRes]="nemoModerationRailRes" [covState]="covState" [prompt]="prompt" [tokenImpState]="tokenImpState" [gotState]="gotState" [hallucinationSwitchCheck]="hallucinationSwitchCheck"
                        [thotState]="thotState" [gEvalres]="gEvalres" [hallucinateRetrievalKeplerRes]="hallucinateRetrievalKeplerRes" [serperResponseState]="serperResponseState" [selectedUseCaseName]="selectedUseCaseName" [llmExplainState]="llmExplainState"
                        [RagMultiModalResponse]="RagMultiModalResponse" [submitFlag]="submitFlag" [selectedTranslate]="selectedTranslate"></app-response-comparison>

                </div>
                <div *ngIf="activeTab == 'Privacy Result'">
                    <app-privacy-result [privacyRes]="privacyResponse" [prompt]="prompt" [privacyOption]="privacyOption"></app-privacy-result>
                </div>
                <div *ngIf="activeTab == 'Profanity'">
                    <app-profanity-result [profanityRes]="profanityRes"></app-profanity-result>
                </div>
                <div [hidden]="activeTab !== 'Explainability'">
                    <app-explainability-result [explainabilityRes]="explainabilityRes" [explainabilityOption]="explainabilityOption" [ExplanabilityFileId]="ExplanabilityFileId" [prompt]="prompt" [selectedOptions]="selectedOptions" [selectedTranslate]="selectedTranslate"
                        [isLoadingCOV]="isLoadingCOV" [covFinalAnswer]="covFinalAnswer" [finalAnswer]="finalAnswer" [COVAnswer]="COVAnswer"></app-explainability-result>
                </div>
                <div *ngIf="activeTab == 'Fairness'">
                    <app-fairness-result [fairnessRes]="fairnessRes"></app-fairness-result>
                </div>
            </div>
        </div>
        <div class="panel-container px-3" [ngClass]="{'collapsed': isCollapsed}">
            <div class="panel-content">
                <div>
                    <label class="mainLabel">Select Type</label>
                    <ng-container class="selectTypeShimmer" *ngIf="isLoadingSelectType">
                        <ngx-skeleton-loader count="4" appearance="line" [theme]="{ 'border-radius': '20px', height: '20px'}">
                        </ngx-skeleton-loader>
                    </ng-container>
                    <div *ngIf="!isLoadingSelectType" class="checkbox-container d-flex flex-column">
                        <div *ngFor="let option of options">
                            <mat-accordion>
                                <mat-expansion-panel [disabled]="roles === 'ROLE_ML'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <mat-checkbox class="custom-frame mt-n2" (click)="$event.stopPropagation()" (change)="viewoptions(); " color="primary" name="allOptions" [(ngModel)]="selectedOptions[option]" [disabled]="roles === 'ROLE_ML'">{{option}}</mat-checkbox>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="panel-body">
                                        <div *ngIf="option == 'Privacy'">
                                            <!-- <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="portfolioNamePrivacy" ngModel placeholder="Portfolio Name" />
                                            </div>
                                            <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="accountNamePrivacy" ngModel placeholder="Account Name" />
                                            </div> -->
                                            <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="exclusionListPrivacy" ngModel placeholder="Exclusion List" />

                                            </div>
                                            <select class="form-select shadow-none w-100" aria-label="Default select example" *ngIf="option =='Privacy'" name="privacyOption" [(ngModel)]="privacyOption" (ngModelChange)="resetPrivacyResult()">
                                                <option selected disabled>Choose Options</option>
                                                <option *ngFor="let option of privacy_options" [value]="option">
                                                    {{option}}
                                                </option>
                                            </select>
                                            <div class="d-flex justify-content-between mb-2" *ngIf="privacyOption == 'Privacy-Anonymize' || privacyOption == 'Choose Options'">
                                                <label class="mainLabel labelSM">Fake Data</label>
                                                <span class="switch">
                                                    <input id="fakeDataFlag" type="checkbox" name="fakeDataFlag" ngModel/>
                                                    <label for="fakeDataFlag"></label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between" *ngIf="option =='Fairness'">
                                            <div class="d-flex align-items-center">
                                                <input type="radio" id="gpt" name="gpt" value="GPT_4" [(ngModel)]="fairnessEvaluator">
                                                <label for="gpt4" class="mainLabel labelXS">GPT_4</label><br>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column" *ngIf="option =='Explainability'">
                                            <select class="form-select shadow-none w-100" aria-label="Explainability select example" name="explainabilityOption" [(ngModel)]="explainabilityOption">
                                                <option value="" disabled selected>Choose Options</option>
                                                <option value="LLM">LLM</option>
                                                <option value="Sentiment">Sentiment</option>
                                                <option value="RAG">RAG</option>
                                            </select>
                                            <div *ngIf="explainabilityOption == 'RAG'">
                                                <input type="file" id="uploadFile1" name="uploadFile1" (change)="fileBrowseHandler1($event)" class="uploadButton" />
                                                <label for="uploadFile1" class="mb-0">Upload</label>
                                                <mat-icon matTooltip=".pdf(10mb),.csv(1mb),.txt(400kb)" style="color: #727272; cursor: pointer;" [inline]="true">info</mat-icon>
                                                <p class="m-0" style="font-size: 8px; font-weight: 500;color: #989898;">
                                                    .pdf, .csv and .txt files are supported
                                                </p>
                                                <div *ngFor="let file of filesExplainability; let i = index">
                                                    <div class="file-upload mt-2">
                                                        <p style="margin: 0px; font-size: x-small;">{{ file?.name }}</p>
                                                        <div class="d-flex align-items-center mt-1">
                                                            <mat-progress-bar class="mr-1" mode="determinate" [value]="file?.progress"></mat-progress-bar>
                                                            <button class="cancel-button mr-2" (click)="deleteFile1(i);">
                                                                <mat-icon>close</mat-icon>
                                                            </button>
                                                        </div>
                                                        <p *ngIf="!file?.preview?.startsWith('data:video/')" class="mainLabel2 mainLabelSM2 mt-2 cursor" style="text-decoration: underline; font-size: 0.6rem;" (click)="openDialog(file.preview)">
                                                            (Preview)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="option == 'FM-Moderation'">
                                            <!-- <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="portfolioName" [(ngModel)]="portfolioName" placeholder="Portfolio Name" />
                                            </div>
                                            <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="accountName" [(ngModel)]="accountName" placeholder="Account Name" />
                                            </div> -->
                                            <div class="mb-2">
                                                <select class="form-select shadow-none w-100 inputSMfont" name="selectedUsecase" ngModel (change)="onTemplateSelect($event)">
                                                    <option value="" selected>Select Template Account</option>
                                                    <option value="Navi">Navi</option>
                                                    <option *ngFor="let template of allTemplates"
                                                        [value]="template.mapId">
                                                        {{template.portfolio}} - {{template.account}}</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="mainLabel labelSM">Temperature</label>
                                                    <input type="text" class="form-control shadow-none tempInputBox" [value]="(tempValue / 10).toFixed(1)" readonly />
                                                </div>
                                                <input type="range" min="0" max="20" name="temp" [(ngModel)]="tempValue" />
                                            </div>
                                            <div class="mb-2">
                                                <label class="mainLabel labelSM">Prompt Template</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="goalPriority" name="goalPriority" value="GoalPriority" [(ngModel)]="selectPromptTemplate">
                                                        <label for="goalPriority" class="mainLabel labelXS">Goal
                                                            Priority</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="selfReminder" name="selfReminder" value="SelfReminder" [(ngModel)]="selectPromptTemplate">
                                                        <label for="selfReminder" class="mainLabel labelXS">Self
                                                            Reminder</label><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-2">
                                                <label class="mainLabel labelSM">COVE Complexity</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="simple" name="coveComplexity" value="simple" [(ngModel)]="selectCoveComplexity">
                                                        <label for="simple" class="mainLabel labelXS">Simple</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="medium" name="coveComplexity" value="medium" [(ngModel)]="selectCoveComplexity">
                                                        <label for="medium" class="mainLabel labelXS">Medium</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="complex" name="coveComplexity" value="complex" [(ngModel)]="selectCoveComplexity">
                                                        <label for="complex" class="mainLabel labelXS">Complex</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3" hidden>
                                                <label class="mainLabel labelSM">Trasnlate</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="Google" name="Google" value="Google" [(ngModel)]="selectedTranslate">
                                                        <label for="Google" class="mainLabel labelXS">Google</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="Azure" name="Azure" value="Azure" [(ngModel)]="selectedTranslate">
                                                        <label for="Azure" class="mainLabel labelXS">Azure</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">

                                                        <input type="radio" id="no" name="no" value="no" [(ngModel)]="selectedTranslate">
                                                        <label for="no" class="mainLabel labelXS">No</label><br>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="mainLabel labelSM">LLM Model</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="gpt4" name="gpt4" value="gpt4" [(ngModel)]="selectedLlmModel">
                                                        <label for="gpt4" class="mainLabel labelXS">GPT 4</label><br>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <input type="radio" id="gpt3" name="gpt3" value="gpt3" [(ngModel)]="selectedLlmModel">
                                                        <label for="gpt3" class="mainLabel labelXS">GPT 3</label><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mb-2">
                                                <label class="mainLabel labelSM">LLM as Evaluator</label>
                                                <span class="switch">
                                                    <input id="llmAsEvaluatorSwitch" type="checkbox"
                                                        name="llmAsEvaluatorSwitch" ngModel  />
                                                    <label for="llmAsEvaluatorSwitch"></label>
                                                </span>
                                            </div>
                                            <div class="mb-3">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <label class="mainLabel labelSM">Nemo Guardrail Comparison</label>
                                                    <span class="switch">
                                                        <input id="nemoGaurdrailSwitch" type="checkbox"
                                                            name="nemoGaurdrail" 
                                                            [(ngModel)]="nemoGaurdrailCheck" />

                                                        <label for="nemoGaurdrailSwitch"></label>
                                                    </span>
                                                </div>
                                                <div class="d-flex justify-content-between mb-2">
                                                    <label class="mainLabel labelSM">File Upload</label>
                                                    <span class="switch">
                                                        <input id="hallucinationSwitch" type="checkbox"
                                                            name="hallucinationSwitch"
                                                            [(ngModel)]="hallucinationSwitchCheck"
                                                            (ngModelChange)="handleHallucinationSwitch();"
                                                            [disabled]="uncertainitySwitchCheck" />
                                                        <label for="hallucinationSwitch"></label>
                                                    </span>
                                                </div>
                                                <div class="mb-3" *ngIf="hallucinationSwitchCheck">
                                                    <select class="form-select shadow-none m-0" style="font-size: 10px; padding: 5px" (change)="selectEmbeddedMethod($event.target)">
                                                        <option selected disabled>Choose Embedding</option>
                                                        <option *ngFor="let option of allEmbeddingsRes"
                                                            [value]="option.embedingName" [id]="option.cacheId">
                                                            {{option.embedingName}}</option>
                                                    </select>
                                                    <p class="m-0 p-1 fw-lighter" style="font-size: 11px;">Or</p>
                                                    <input type="file" id="uploadFile" name="uploadFile" (change)="fileBrowseHandler($event)" class="uploadButton" />
                                                    <label for="uploadFile" class="mb-0">Upload</label>
                                                    <mat-icon matTooltip=".pdf(10mb),.csv(1mb),.txt(400kb),.mp4(200mb),png/jfif(15mb)." style="color: #727272; cursor: pointer;" [inline]="true">info</mat-icon>
                                                    <p class="m-0" style="font-size: 8px; font-weight: 500;color: #989898;">
                                                        .pdf, .csv and .txt files are supported <br/> jpg,jpeg,png,gif,bmp,jfif,mp4,3gp are supported</p>
                                                    <div *ngFor="let file of files; let i = index">
                                                        <div class="file-upload mt-2">
                                                            <p style="margin: 0px; font-size: x-small;">{{ file?.name }}
                                                            </p>
                                                            <div class="d-flex align-items-center mt-1">
                                                                <mat-progress-bar class="mr-1" mode="determinate" [value]="file?.progress"></mat-progress-bar>
                                                                <button class="cancel-button mr-2" (click)="deleteFile(i); ">
                                                                    <mat-icon>close</mat-icon>
                                                                </button>
                                                            </div>
                                                            <p *ngIf="!file.preview.startsWith('data:video/')" class="mainLabel2 mainLabelSM2 mt-2 cursor" style="text-decoration: underline; font-size: 0.6rem;" (click)="openDialog(file.preview)">
                                                                (Preview)
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="file-upload mt-2" *ngIf="selectedEmbeddedFileName != ''">
                                                        <p style="margin: 0px; font-size: x-small;">{{ selectedEmbeddedFileName }}</p>
                                                        <div class="d-flex align-items-center mt-1">
                                                            <mat-progress-bar class="mr-1" mode="determinate" value="100"></mat-progress-bar>
                                                            <button class="cancel-button mr-2" (click)="removeFile()">
                                                                <mat-icon>close</mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3" *ngIf="uncertainitySwitchCheck">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label class="mainLabel labelSM">No. Of Options</label>
                                                    <input type="number" class="form-control shadow-none tempInputBox" [value]="noOfOptionUncertanity" min="2" max="5" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="option == 'Profanity'">
                                            <!-- <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="portfolioNameProf" ngModel placeholder="Portfolio Name" />
                                            </div>
                                            <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="accountNameProf" ngModel placeholder="Account Name" />
                                            </div> -->
                                            <div class="mb-2">
                                                <input class="form-control shadow-none inputSMfont" type="text" name="exclusionListProf" ngModel placeholder="Exclusion List" />
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="toggle-button" (click)="togglePanel()">
                <mat-icon [inline]="true">menu</mat-icon>
            </button>
        </div>
    </form>
</div>

<ng-template #popoverContent>
    <div style="width: 180px; ">
        <label class="mainLabel labelSM">Trasnlate Using</label>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <input type="radio" id="Google" name="notificationPreference" value="google" (click)="p.close()" [(ngModel)]="selectedNotification" (ngModelChange)="updateNotificationPreference(form,selectedNotification)">
                <label for="Google" class="mainLabel labelXS">Google</label><br>
            </div>
            <div class="d-flex align-items-center">
                <input type="radio" id="Azure" name="notificationPreference" value="azure" (click)="p.close()" [(ngModel)]="selectedNotification" (ngModelChange)="updateNotificationPreference(form,selectedNotification)">
                <label for="Azure" class="mainLabel labelXS">Azure</label><br>
            </div>
            <div class="d-flex align-items-center">
                <input type="radio" id="None" name="notificationPreference" value="no" (click)="p.close()" [(ngModel)]="selectedNotification" (ngModelChange)="updateNotificationPreference(form,selectedNotification)">
                <label for="None" class="mainLabel labelXS">None</label><br>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #popoverContentEmoji>
    <div style="width: 110px; ">
        <label class="mainLabel labelSM">Emoji Moderation</label>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <input type="radio" id="emojiYes" name="emoji" value="yes" (click)="openPopOverEmoji()" [(ngModel)]="selectedEmojiVal">
                <label for="emojiYes" class="mainLabel labelXS">Yes</label><br>
            </div>
            <div class="d-flex align-items-center">
                <input type="radio" id="emojiNo" name="emoji" value="no" (click)="openPopOverEmoji()" [(ngModel)]="selectedEmojiVal">
                <label for="emojiNo" class="mainLabel labelXS">No</label><br>
            </div>
        </div>
    </div>
</ng-template>
<!-- <ng-template #Poptitle>
<label class="HeadingLabel"></label>
</ng-template> -->
<ng-template #translateResponseTemplate>
    <!-- <div id="translateResponse" class="mt-3" *ngIf="cotState.active"> -->
    <div class="mt-3">
        <div class="card" style="padding: .5rem;">
            <div class="row">
                <div class="col-md-6">
                    <p class="mainLabelB mainLabelSM" style="margin-bottom: 0px;">Translated Text</p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="mainLabelB mainLabelSM" style="margin-bottom: 0px;">Language -
                        <span>{{translatedText.language}}</span>
                    </p>
                </div>
            </div>

            <p class="mainLabelB mainLabelSM mainLabelLight m-0" style="margin-bottom: 0px;" [innerHTML]="translatedText.text"> </p>
        </div>
    </div>
    <!--  -->

</ng-template>