/*  MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.form-select {
    width: 100%;
    height: 1.813rem;
    font-size: 0.75rem;
    margin-bottom: 1.10rem;
}

.form-InputText {
    width: 100%;
    height: 1.813rem;
    font-size: 0.75rem;
    margin-bottom: 1.10rem;
}

.sliderLabel {
    color: #382261;
    padding: 0px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    opacity: 70%;
}

.tempInputBox {
    width: 45px;
    font-size: 10px;
    text-align: center;
}

.HeadingLabelSM {
    color: #7E7E7E;
    padding: 0px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    /* margin-top: 1.8rem; */
}

 :host .dropdown {
    max-width: 15rem;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: smaller;
}

.marginDiv {
    margin: .5rem
}


/* 

 */

.mainLabel {
    color: #7E7E7E;
    padding: 0px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Segoe UI';
    margin-bottom: 0px;
}

.mainLabelSM {
    font-size: 12px;
}

.mainLabelLight {
    font-weight: 400;
}

.fixed-height-card {
    height: 100px;
    overflow-y: auto;
}

.HeadingLabel {
    color: #7E7E7E;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 11px;
    margin-right: 1.7rem;
    font-family: 'Segoe UI';
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.activeTab {
    color: #8626C3;
    position: relative;
}

.activeTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 35%; */
    border-bottom: 2px solid #8626C3;
}

.hyperLink {
    color: #8626C3;
    cursor: pointer;
    text-decoration: underline;
}

.cursor {
    cursor: pointer;
}

.snackBar-custom {
    background-color: white;
}

.buttonMain {
    font-family: 'Segoe UI';
    font-weight: semi-bold;
    font-size: .75rem;
    height: 28px;
    min-width: fit-content;
}

.mat-black {
    color: white !important;
    background-color: #231F20 !important;
}


/*  */

.labelSM {
    font-weight: 600;
    font-size: 11px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #D8D8D8;
    height: 3px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #8626C3;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.tempInputBox {
    width: 45px;
    font-size: 10px;
    text-align: center;
}

::ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
    background: #8626C3;
}