<!-- SPDX-License-Identifier: MIT
Copyright 2024 - 2025 Infosys Ltd.
"Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."
-->
<div class="d-flex pb-4">
    <ng-container class="selectTypeShimmer" *ngIf="isLoadingUpload">
        <ngx-skeleton-loader count="1" appearance="circle"
            [theme]="{ 'border-radius': '10px', height: '200px', width: '230px'}">
        </ngx-skeleton-loader>
    </ng-container>
    <div *ngIf="!isLoadingUpload">
        <label class="HeadingLabel">Upload File(s)</label>
        <div class="d-flex">
            <div class="me-3">
                <div class="drop-zone">
                    <mat-icon class="material-icons browse-logo ">cloud_upload</mat-icon>
                    <p class="dnd-lable mb-1">Drag & drop files here <br>or<span class="high-light"> browse</span></p>
                    <p class="m-0" style="font-size: 10px; font-weight: 500;color: #989898;">
                        .dcm files are supported</p>
                    <input type="file" (change)="fileBrowseHandler($event)" multiple>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="card imgcardsize">
                        <img [src]="dicomThumb1" (click)="onClick(dicom1)" [class.highlight]="selectedImage === dicom1"
                            class="card-img" alt="...">
                    </div>
                    <div class="card imgcardsize">
                        <img [src]="dicomThumb2" (click)="onClick(dicom2)" [class.highlight]="selectedImage === dicom2"
                            class="card-img" alt="...">
                    </div>
                    <div class="card imgcardsize">
                        <img [src]="dicomThumb3" (click)="onClick(dicom3)" [class.highlight]="selectedImage === dicom3"
                            class="card-img" alt="...">
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button mat-raised-button class="buttonMain resetButton me-2" color="reset"
                        style="margin-right: 1rem;" (click)="Reset()">Reset</button>
                    <button mat-raised-button class="buttonMain" [disabled]="spinner" color="black" (click)="Submit()">
                        <div class="spinner-border text-light" style="font-size: 10px;width: 15px;height: 15px;"
                            role="status" *ngIf="spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="!spinner">Submit</span>
                    </button>
                </div>
            </div>
            <div class="me-3 fileContainer">
                <p class="HeadingLabelSM" *ngIf="files[0]">File</p>
                <div *ngIf="isLoadingFile">
                  <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 'height': '20px', 'width': '100%' }"></ngx-skeleton-loader>
                </div>
                <div class="file-upload" *ngIf="files[0] && !isLoadingFile">
                  <p style="margin: 0px; font-size: x-small;">{{ files[0].name }}</p>
                  <div class="d-flex align-items-center mt-1">
                    <mat-progress-bar class="me-1 progressBar" mode="determinate" [value]="files[0]?.progress"></mat-progress-bar>
                    <button class="cancel-button me-2" (click)="cancelUpload()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="me-4" [hidden]="!preview">
        <label class="HeadingLabel">Preview</label>
        <div>
            <div class="dicom-container">
                <dicom-viewer [enableViewerTools]="true" [enablePlayTools]="true" [maxImagesToLoad]="20"
                    style="height:100%; width:100%;"></dicom-viewer>
            </div>
        </div>
    </div>
    <div *ngIf="isLoadingOutput">
        <ngx-skeleton-loader count="1" appearance="circle"
        [theme]="{ 'border-radius': '10px', height: '200px', width: '400px'}">
    </ngx-skeleton-loader>
    </div>
    <div *ngIf="!isLoadingOutput && table==true">
        <label class="HeadingLabel">Output</label>
        <div class="d-flex justify-content-between">
            <div class="me-2">
                <p class="outputLabel mb-1">Original Image</p>
                <div class="card outputImageCard position-relative">
                    <img [src]="res1" class="card-img" alt="...">
                    <button mat-icon-button class="expand-button position-absolute top-0 end-0"
                        (click)="openDialog(res1)">
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <p class="outputLabel mb-1">Redacted Image</p>
                <div class="card outputImageCard position-relative">
                    <img [src]="res2" class="card-img" alt="...">
                    <button mat-icon-button class="expand-button position-absolute top-0 end-0"
                        (click)="openDialog(res2)">
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>