<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<form [formGroup]="useCase">
    <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
    <!-- <div class="class='form-group'">
        <input type="text" class="form-control shadow-none inputField" name="useCaseName" placeholder="Enter Use Case name" formControlName="useCaseName">
        <span *ngIf="useCase.get('useCaseName')?.invalid && useCase.get('useCaseName')?.touched" class="text-danger">
                Enter Valid UseCase Name.
            </span>
    </div> -->

    <div style="display: flex;" class="pt-4">
        <div style="margin-right: 100px;" class="class='form-group'">
            <h3 class="HeadingLabel">Upload File(s)</h3>
            <div class="d-flex">
                <div class="mr-3">
                    <div class="drop-zone">
                        <mat-icon class="material-icons browse-logo ">cloud_upload</mat-icon>
                        <p class="dnd-lable">Drag & drop files here <br>or<span class="high-light"> browse</span></p>
                        <input type="file" (change)="onFileChange($event)" (change)="fileBrowseHandler($event)" formControlName="fileData">
                    </div>
                    <span *ngIf="useCase.get('fileData')?.invalid && useCase.get('fileData')?.touched" class="text-danger">
                        {{ getErrorMessage(useCase.get('fileData')!) }}
                      </span>
                    <div class="mr-3 fileContainer">
                        <p class="HeadingLabelSM" *ngIf="files[0]">File</p>
                        <div class="file-upload" *ngIf="files[0]">
                            <p style="margin: 0px; font-size: x-small;">{{ files[0].name }}</p>
                            <div class="d-flex align-items-center mt-1">
                                <mat-progress-bar class="mr-1" mode="determinate" [value]="files[0]?.progress"></mat-progress-bar>
                                <button class="cancel-button mr-2" (click)="deleteFile()">
                                  <mat-icon>close</mat-icon>
                              </button>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button mat-raised-button class="buttonMain mr-1" color="reset" (click)="reset()">Reset</button>
                        <button mat-raised-button class="buttonMain" color="black" (click)="submit()" [disabled]="useCase.invalid">
                          <div class="spinner-border text-light" style="font-size: 10px;width: 15px;height: 15px;"
                                  role="status" *ngIf="showSpinner1">
                                  <span class="sr-only">Loading...</span>
                              </div>
                              <span *ngIf="!showSpinner1">Submit</span>
                      </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex: 1; max-width: 50%;">
            <div class="report-container">
                <label class="HeadingLabel">Report</label>
                <div class="d-flex align-items-center">
                    <button mat-icon-button color="primary2" (click)="getAllData()">
              <mat-icon class="actionBtn">refresh</mat-icon>
            </button>
                </div>
            </div>
            <div *ngIf="isLoadingTable">
                <ngx-skeleton-loader count="5" appearance="line" [theme]="{ 'border-radius': '20px', height: '30px', width:'700px'}">
                </ngx-skeleton-loader>
            </div>
            <div *ngIf="!isLoadingTable">
                <table class="styled-table">
                    <tr>
                        <th class="header">File Name</th>
                        <th class="header">Created On</th>
                        <th class="header">Status</th>
                        <th class="header">Report</th>
                    </tr>
                    <tr *ngFor="let element of dataSource | paginate : pagingConfig; let i = index">
                        <td>{{element.file_name }}</td>
                        <td>{{element.created_at }}</td>
                        <td>{{element.status }}</td>
                        <td (click)="getfileContent(element.reportLink)">
                            <button class="actionBtn" matTooltip="Download Report" [class.disabled]="element.status != 'Completed'">
                                <mat-icon>download</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="d-flex justify-content-between mt-3">
                    <div class="pagination-info">
                        Showing {{ pagingConfig.totalItems
                        < pagingConfig.itemsPerPage ? pagingConfig.totalItems : pagingConfig.itemsPerPage }} of {{ pagingConfig.totalItems }} </div>
                            <pagination-controls class="pagination-label" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                            </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
</form>