<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div style="display: flex; flex-direction: column;">
    <div style="display: flex;">
        <div class="select-contatiner1 mr-2">
            <div>
                <h3 class="HeadingCheckBoxLabel pl-0">Select Type</h3>
                <!--  -->
                <div class="checkbox-container ml-1">
                    <div class="d-flex align-items-center">
                        <input type="radio" id="Privacy" name="Privacy" value="Privacy" [(ngModel)]="selectType" (ngModelChange)=" handleSelectTypeChange()">
                        <label for="Privacy" class="HeadingCheckBoxLabel fw-medium m-0 pl-2">Privacy</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="radio" id="Safety" name="Safety" value="Safety" [(ngModel)]="selectType" (ngModelChange)=" handleSelectTypeChange()">
                        <label for="Safety" class="HeadingCheckBoxLabel fw-medium m-0 pl-2">Safety</label>
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <input type="radio" id="Explainability" name="Explainability"
                            value="Explainability" [(ngModel)]="selectType" (ngModelChange)=" handleSelectTypeChange()">
                        <label for="Explainability" class="HeadingCheckBoxLabel fw-medium m-0 pl-2" >Explainability</label>
                    </div> -->
                    <!-- <div class="d-flex align-items-center">
                        <input type="radio" id="Security" name="Security" value="Security" [(ngModel)]="selectType" (ngModelChange)=" handleSelectTypeChange()">
                        <label for="Security" class="HeadingCheckBoxLabel fw-medium m-0 pl-2">Security</label>
                    </div> -->
                    <!-- <mat-checkbox class="custom-frame" (change)="viewoptions()" color="primary" *ngFor="let option of options" [(ngModel)]="selectedOptions[option]">{{option}}</mat-checkbox> -->
                </div>
                <!--  -->
            </div>
        </div>
        <ng-container class="selectTypeShimmer" *ngIf="isLoadingUpload">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 'border-radius': '10px', height: '200px', width: '230px'}">
            </ngx-skeleton-loader>
        </ng-container>
        <div *ngIf="!isLoadingUpload" class="mr-4 mt-2">
            <!-- <label class="HeadingLabel">Upload File(s)</label> -->
            <div class="drop-zone">
                <mat-icon class="material-icons browse-logo ">cloud_upload</mat-icon>
                <p class="paragraph_dnd">Drag and drop files here <br>or<span class="high-light mb-0"> browse</span></p>
                <input type="file" (change)="onFileChange($event)" (change)="fileBrowseHandler($event)" multiple accept="image/*">
                <p class="dnd-lable mt-0">
                    .png, .jfif, .jpg files are supported</p>
            </div>
            <div class="image-container justify-content-between mt-2">
                <div class="card imgcardsize" matTooltip="Handwritten" [class.radio-checked-img]="favoriteSeason == sampleSrc1" (click)="onClick(sampleSrc1); ocrvalue = 'ComputerVision'">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <label>
                        <input (click)="viewchange()" class="imgcardsize" type="radio" style="display: none;"
                            [(ngModel)]="favoriteSeason" name="option" value={{sampleSrc1}} checked>
                        <img class="imgcardsize" src={{sampleSrc1}}>
                    </label>
                </div>
                <div class="card imgcardsize" matTooltip="Privacy" [class.radio-checked-img]="favoriteSeason == sampleSrc2" (click)="onClick(sampleSrc2); ocrvalue = 'Tesseract'">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <label>
                        <input class="imgcardsize" type="radio" style="display: none;" [(ngModel)]="favoriteSeason"
                            name="option" value={{sampleSrc2}} checked>
                        <img class="imgcardsize" src={{sampleSrc2}}>
                    </label>
                </div>
                <div class="card imgcardsize" matTooltip="Safety & Explainability" [class.radio-checked-img]="favoriteSeason == sampleSrc3" (click)="onClick(sampleSrc3); ocrvalue = 'Tesseract'">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <label>
                        <input class="imgcardsize" type="radio" style="display: none;" [(ngModel)]="favoriteSeason"
                            name="option" value={{sampleSrc3}} checked>
                        <img class="imgcardsize" src={{sampleSrc3}}>
                    </label>
                </div>
            </div>
            <div class="fileContainer mt-2">
                <p class="HeadingLabelSM mb-0" *ngIf="files[0]">File</p>
                <div class="file-upload" *ngIf="files[0]">
                    <p style="margin: 0px; font-size: x-small;">{{ files[0].name }}</p>
                    <div class="d-flex align-items-center mt-1">
                        <mat-progress-bar class="mr-1" mode="determinate" [value]="files[0]?.progress"></mat-progress-bar>
                        <button class="cancel-button mr-2" (click)="removeFile()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <p class="mainLabel2 mainLabelSM2 mt-2 cursor" style="text-decoration: underline; font-size: 0.6rem;" (click)="openDialog(filePreview)">
                        (Preview)</p>
                </div>
            </div>
        </div>
        <div class="mr-4">
            <label class="HeadingLabel mb-3">Select Options</label>
            <div>
                <form [formGroup]="form">
                    <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
                    <select formControlName="languageModel" (change)="selectOptionOcr($event.target)" class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="ocrvalue">
                        <ng-container *ngIf="files == [] || files[0]?.name != 'PII_handwritten.jpg'">
                            <option *ngFor="let option of ocr_options" [value]="option">{{option}}</option>
                        </ng-container>
                        <ng-container *ngIf="files && files[0]?.name == 'PII_handwritten.jpg'">
                            <option selected [value]="'ComputerVision'">ComputerVision</option>
                        </ng-container>
                        <!-- <option *ngFor="let option of ocr_options" [value]="option">{{option}}</option>
                        <option *ngFor="let option of ['ComputerVision']" [value]="option"><span *ngIf="files[0].name == 'PII_handwritten.jpg'">{{option}}</span></option> -->
                    </select>
                    <select *ngIf="selectType == 'Privacy'" formControlName="option" (change)="selectOption($event.target)" [(ngModel)]="selectValue" class="form-select shadow-none" aria-label="Default select example">
                        <option value="" >Option</option>
                        <option *ngFor="let option of options" [value]="option.value">{{option.viewValue}}</option>
                    </select>
                    <select *ngIf="selectValue == 'Security'" formControlName="securityModel" (change)="selectSecurityModel($event.target)" class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedModel">
                        <option *ngFor="let option of models" [value]="option.value">{{option.viewValue}}</option>
                    </select>
                    <select *ngIf="selectValue == 'Fairness'" formControlName="fairnessModel" (change)="selectFairnessModel($event.target)" class="form-select shadow-none" aria-label="Default select example" [(ngModel)]="selectedFairnessModel">
                        <option *ngFor="let option of fairness_models" [value]="option">{{option}}</option>
                    </select>
                    <textarea *ngIf="selectValue == 'Fairness'" class="form-control-text w-100 txtArea shadow-none" rows="2" name="prompt" placeholder="Enter Prompt" formControlName="fairnessPrompt"></textarea>
                </form>

                <!--  -->
                <ng-container *ngIf="selectType == 'Privacy' || selectType === 'Safety'">
                    <!-- <input type="text" [(ngModel)]="portfolioName_value" class="form-control shadow-none"
                        placeholder="Portfolio Name" aria-label="Portfolio Name">
                    <input type="text" [(ngModel)]="accountName_value" class="form-control shadow-none"
                        placeholder="Account Name" aria-label="Account Name"> -->
                    <input [hidden]="selectType === 'Safety'" type="text" [(ngModel)]="exclusionList_value" class="form-control shadow-none" placeholder="Exclusion List" aria-label="Exclusion List">
                </ng-container>
            </div>
            <div class="button-container">
                <button mat-raised-button class="mainBtn resetButton" (click)="removeFile()" color="reset">Reset</button>
                <button mat-raised-button (click)="submit()" class="mainBtn" style="margin-left: .5rem;" color="black">Submit</button>
            </div>
        </div>

        <!-- OUTPUT SECTION -->
        <div *ngIf="privacy_analyzeFlag" class="w-50">
            <label class="HeadingLabel mb-3">Output</label>
            <div class="card outputCard w-100 p-2">
                <label class="HeadingLabel mb-2">PII Entities Recognised</label>
                <div class="d-flex flex-wrap">
                    <span *ngFor="let res of PrivacyAnzUniqueData" class="HeadingLabel HeadingLabelSM mr-2" style="padding: 5px 8px; border-radius: 7px; background-color: #ececec; width: fit-content;">
                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">{{res}}</p>
                    </span>
                    <span *ngIf="PrivacyAnzUniqueData.length == 0" class="HeadingLabel HeadingLabelSM mr-2" style="padding: 5px 8px; border-radius: 7px; background-color: #ececec; width: fit-content;">
                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">NONE</p>
                    </span>
                </div>
            </div>
        </div>
        <div class=" w-50" *ngIf="imgOp==true">
            <div class="d-flex justify-content-between">
                <label class="HeadingLabel mb-3">Output</label>
                <div class="content" *ngIf="redactedImg==true">
                    <button class="custom-button reportBTN" (click)="openExplRightSideModal()">Report</button>
                </div>
                <div class="content" *ngIf="privacyHasifyMap.length != 0">
                    <button class="custom-button reportBTN" (click)="openHashifySideModal()">Report</button>
                </div>
                <div class="content" *ngIf="imageOutput==true">
                    <button class="custom-button reportBTN" (click)="openRightSideModal()">Image Analyze
                        Report</button>
                </div>
            </div>
            <div *ngFor="let im of outputImg">
                <div class="card outputImageCard position-relative d-flex justify-content-center w-100">
                    <img [src]="'data:image/jpg;base64,'+im" *ngIf="im" class="card-img w-100 h-100" alt="...">
                    <button mat-icon-button class="expand-button position-absolute top-0 end-0" (click)="openDialog(im)">
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="privAnzRes">
                <div *ngFor="let privAnzop of outPrivAnz">
                    <div class="card outputDataCard position-relative">
                        <pre><p style="color: #FFFFFF;">{{privAnzop | json}}</p></pre>
                    </div>
                </div>
            </div>
            <div *ngIf="fairness_response">
                <!-- <div class="card outputCard w-75 p-2">
                    <p class="mainLabel mainLabelSM mb-2" style="font-weight: 400;"><strong>Analysis:</strong>
                        {{fairness_response.analysis}}</p>
                    <p class="mainLabel mainLabelSM mb-2" style="font-weight: 400;"><strong>Bias Type:</strong>
                        {{fairness_response['bias type(s)']}}</p>
                    <p class="mainLabel mainLabelSM mb-2" style="font-weight: 400;"><strong>Group(s):</strong>
                        {{fairness_response['group(s)']}}</p>
                    <p class="mainLabel mainLabelSM mb-2" style="font-weight: 400;"><strong>Percentage Bias
                            Score:</strong> {{fairness_response['percentage bias score']}}</p>
                </div> -->
                <div class="card h-100">
                    <div class="card-header border-bottom-0 py-2" style="background: none;" id="headingOne" aria-expanded="true">
                        <div class="d-flex justify-content-between">
                            <label class="mainLabel m-0 d-flex" style="font-size: 0.9rem; color: #303030;">Fainess And Bias
                                Evaluation </label>
                            <div *ngIf="fairness_response['Bias score']" matTooltip="Bias level indicator to show the amount of bias in the given text." class="custom-badge" style="font-size: 0.85rem;" [class.custom-badge-passed]="fairness_response['Bias score'] == 'Low'" [class.custom-badge-yellow]="fairness_response['Bias score'] == 'Medium'"
                                [class.custom-badge-failed]="fairness_response['Bias score'] == 'High'">
                                {{fairness_response['Bias score']}}
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="headingOne">
                        <div class="card-body">
                            <p class="mainLabel mainLabelSM mainLabelLight m-0"><span class="mainLabel mainLabelSM mb-0"><strong>Analysis: </strong>
                                </span>{{fairness_response.Analysis}}</p>
                            <div class="d-flex mt-3 mb-2 flex-wrap">
                                <div class="cardA  m-1 flex-1">
                                    <p class="mainLabel" style="    color: #232323; margin: 0px; font-size: small;">
                                        {{fairness_response['Previledged group(s)']}}</p>
                                    <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Privileged group(s)
                                        <mat-icon matTooltip="Group of people favoured by the bias in the given text." style="color: #727272; cursor: pointer;" [inline]="true">info</mat-icon>
                                    </p>
                                </div>
                                <div class="cardA  m-1 flex-1">
                                    <p class="mainLabel" style="color: #232323; margin: 0px; font-size: small;">
                                        {{fairness_response['Un-Previledged group(s)']}}</p>
                                    <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">
                                        Un-Previledged group(s)
                                        <mat-icon matTooltip="Group of people against whom the bias is present in the given text." style="color: #727272; cursor: pointer;" [inline]="true">info</mat-icon>
                                    </p>
                                </div>
                            </div>
                            <div class="cardA  m-1 flex-1">
                                <p class="mainLabel" style="color: #232323; margin: 0px; font-size: small;">
                                    {{fairness_response['Bias type(s)']}}</p>
                                <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Bias type(s)
                                    <mat-icon matTooltip="Bias types identified based on the analysis present in the text." style="color: #727272; cursor: pointer;" [inline]="true">info</mat-icon>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div *ngIf="imageOutput==true" style="display: flex;" class="caret-container">
                    <div class="d-flex justify-content-between w-100">
                        <div class="mr-2 w-50">
                            <p class="outputLabel mb-1">Original Image</p>
                            <div class="card position-relative">
                                <img mat-card-image class="imgStyle" src="{{'data:image/jpg;base64,' + imageAnalysePath}}" alt="Original Image">
                                <button mat-icon-button class="expand-button position-absolute top-0 end-0" (click)="openDialog(imageAnalysePath)">
                                    <mat-icon>fullscreen</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="w-50">
                            <p class="outputLabel mb-1">Processed Image</p>
                            <div class="card position-relative">
                                <img mat-card-image class="imgStyle" src="{{'data:image/jpg;base64,' + imgaeBlurred}}" alt="REDACTED IMAGE">
                                <button mat-icon-button class="expand-button position-absolute top-0 end-0" (click)="openDialog(imgaeBlurred)">
                                    <mat-icon>fullscreen</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <!-- <br> -->
                <!-- <div class="content" *ngIf="imageOutput==true">
                    <button mat-button class="custom-button" (click)="openRightSideModal()">Image Analyze
                        Report</button>
                </div> -->
            </div>
        </div>

        <div *ngIf="spinner==true">
            <div class="d-flex">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 'border-radius': '10px',width:'90px','margin-right':'20px', height: '20px'}" />
            </div>
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 'border-radius': '10px', height: '250px', width:'565px'}" />
        </div>
    </div>
    <!-- output section below -->
    <div>
        <!-- <div *ngIf="imgOp==true">
      <div class="imgOp" style="text-align: center;">
        <div *ngFor="let im of outputImg">
          <div class="im">
            <img style="max-width: 100%;" [src]="'data:image/jpg;base64,'+im" *ngIf="im">
          </div>

        </div>

        <div *ngIf="privAnzRes">
          <pre *ngFor="let privAnzop of outPrivAnz">
           <div class="im">
           <p class="microlight output"  style="text-align: left;">{{privAnzop | json}}</p>
           </div>
           </pre>
        </div>

      </div>
      <div *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
      </div>
    </div> -->
        <br />
        <div>
            <!-- <div *ngIf="imageOutput==true" style="display: flex;" class="caret-container">
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>ORIGINAL IMAGE</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="imgStyle" src="{{'data:image/jpg;base64,' + imageAnalysePath}}" alt="Original Image">
                    </mat-card>
                </div>
                <div style="margin-left:15rem">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>PROCESSED IMAGE</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="imgStyle" src="{{'data:image/jpg;base64,' + imgaeBlurred}}" alt="REDACTED IMAGE">
                    </mat-card>
                </div>
                <br>
            </div> -->
            <!-- <br> -->
            <!-- <div *ngIf="imageOutput == true">
                <div (click)="toggleCollapse()" [class.collapsed]="isCollapsed" class="panle">
                    <div class="caret-container" [class.open]="isOpen" (click)="toggleCaret()">
                        <div class="content">
                            <strong>Image Analyse Report</strong>
                        </div>
                        <div class="caret"></div>
                    </div>
                    <div *ngIf="!isCollapsed" style="align-items: center;">
                        <div>
                            <pre>
                                      <p style="max-width: 45%; margin-left: 2rem;" > {{analyse | json}}
                                     </p>
                                   </pre>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <br>
        <div *ngIf="imageOutput == true" hidden>
            <!-- <div class="left"> -->
            <div class="im">
                <img style="max-width: 35%;" [src]="'data:image/jpg;base64,'+imageAnalysePath" class="pull-left">
                <!-- </div> -->
                <!-- </div> -->

                <!-- <div class="right"> -->
                <!-- <div> -->
                <pre>

              <!-- <p class="microlight output" [innerHTML]="res">
                 </p> -->
                 <p class="microlight output pull-right " style="max-width: 45%;" > {{analyze | json}}
                </p>

              <!-- <label [innerHTML]="highlightText()"></label> -->
      </pre>
            </div>
            <!-- </div> -->

        </div>
        <div *ngIf="edited==true">
            <br />

            <div>
                <br /><br />
                <!-- <strong style="padding: 2rem;" *ngIf="type==true">Type:
          {{selectoption}}</strong><br /><br /> -->

                <div *ngIf="table==true" class="tab output">

                    <table style="width:100%; padding:2rem;">
                        <tr>
                            <th style="width:49%">Bloom with Infosys RAI guardrails:</th>
                            <th style="width:49%">Raw Bloom Output :</th>
                        </tr>


                        <tr>
                            <!-- <td style="width:49%"><strong> {{profCenBloomOp | json}}</strong>.</td>
                                           <td style="width:49%" ><strong> {{bloomText_Op | json}}</strong></td> -->


                            <td>
                                <pre *ngFor="let op of outputImg">

                                               <!-- <p class="microlight output" style="max-width: 100%;">{{op}}</p> -->
                                               <img style="max-width: 100px;" src="{{op}}"  />

                                             </pre>
                            </td>

                        </tr>

                    </table>

                </div>

                <!-- <img alt="list image" src={{}} /> -->
                <div *ngIf="table!==true">
                    <pre *ngFor="let res of responseArr">

          <p class="microlight output">{{res | json}}</p>

          </pre>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>