<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <mat-nav-list>

            <mat-list-item>
                <button mat-button class="custom-button"  (click)="toggleComponents1()">Workbench</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="custom-button" (click)="toggleComponents2()">Bulk Processing</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-container *ngIf="showComponent =='workbench' ">
            <app-workbench></app-workbench>
        </ng-container>
        <ng-container *ngIf="showComponent == 'bulk_processing'">
            <app-bulk-processing></app-bulk-processing>

          </ng-container>


    </mat-sidenav-content> -->

<!-- <app-image-explain-report-chart></app-image-explain-report-chart> -->
<div style="display: flex; height: 100%; max-width: 100%;" (click)="closeSidebar()">
    <div (click)="$event.stopPropagation()">
        <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar(); $event.stopPropagation()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <div class="d-flex">
                <button mat-button class="custom-button" (click)="toggleComponents('bulk_processing')">Bulk Processing</button>
            </div> -->

        <div id="sidebar" class="sidebar" [ngClass]="{'sidebar-open': showSidebar}">
            <div class="sidebar-header">
                <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar()">
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- <h2>MENU</h2> -->
                <button mat-icon-button class="sidebar-close" (click)="toggleSidebar()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <section class="d-flex px-2 flex-column mt-2 mb-2">
                <div *ngIf="roleService.checkPageExists('Workbench')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3  homeNavOptions" (click)="toggleComponents('workbench')">HOME</div>
                </div>
                <div *ngIf="roleService.checkPageExists('Usecase')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('use_case')">USE CASE
                    </div>
                </div>
                <div *authHasAnyAuthority="['ROLE_ADMIN']">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('admin_configuration')">CONFIGURATION</div>
                </div>
                <div *ngIf="roleService.checkPageExists('Models')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('Ai-models')">MODELS</div>
                </div>
                <div *ngIf="roleService.checkPageExists('LLM-Benchmarking')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('llm-benchmarking')">LLM BENCHMARKING</div>
                </div>
                <div *ngIf="roleService.checkPageExists('AI-Content-Detector')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('Ai-Content-Detector')">AI CONTENT DETECTOR</div>
                </div>
                <div *ngIf="roleService.checkPageExists('Document')">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('Document')">DOCUMENTS</div>
                </div>
                <div *authHasAnyAuthority="['ROLE_ADMIN']">
                    <div class="custom-button d-flex align-items-center gap-2 p-3 px-3 homeNavOptions" (click)="toggleComponents('user-management')">USER MANAGEMENT </div>
                </div>
            </section>
        </div>

        <div class="d-flex">
            <button class="iconButton d-none" (click)="toggleComponents('admin_configuration')"><mat-icon>settings</mat-icon></button>
        </div>
    </div>
    <div style="width: 100%; padding-left: 1rem; padding-top: 0.5rem; position: relative;">
        <!-- Content for the right column -->
        <div style="width: 100%;">
            <ng-container *ngIf="showComponent =='workbench' ">
                <app-workbench style="width: 100%;"></app-workbench>
            </ng-container>
            <ng-container *ngIf="showComponent == 'bulk_processing'">
                <app-bulk-processing></app-bulk-processing>

            </ng-container>
            <ng-container *ngIf="showComponent == 'use_case'">
                <app-new-use-case></app-new-use-case>
                <!-- <app-use-case-parent></app-use-case-parent> -->

            </ng-container>
            <ng-container *ngIf="showComponent == 'admin_configuration'">
                <app-configuration-parent></app-configuration-parent>


            </ng-container>
            <ng-container *ngIf="showComponent == 'Ai-models'">
                <app-ai-models></app-ai-models>

            </ng-container>
            <ng-container *ngIf="showComponent == 'llm-benchmarking'">
                <app-llm-benchmarking></app-llm-benchmarking>

            </ng-container>
            <ng-container *ngIf="showComponent == 'Ai-Content-Detector'">
                <app-ai-content-detector></app-ai-content-detector>

            </ng-container>
            <ng-container *ngIf="showComponent == 'Document'">
                <app-semi-structured-text></app-semi-structured-text>

            </ng-container>

            <ng-container *ngIf="showComponent == 'user-management'">
                <app-user-management></app-user-management>
            </ng-container>
            <ng-container *ngIf="showComponent == 'newUser'">
                <app-new-user></app-new-user>
            </ng-container>
            <div>
                <app-chatbot></app-chatbot>
            </div>
        </div>


        <!-- <div style="display: flex; height: 100%; max-width: 100%; flex-direction: column;">
    <div style="width: 100%;" class="d-flex justify-content-end">
        <div class="d-flex">
            <button mat-button class="custom-button" (click)="toggleComponents('workbench')">Workbench</button>
            <button mat-button class="custom-button" (click)="toggleComponents('bulk_processing')">Bulk
                Processing</button>

            <button mat-button class="custom-button"
                (click)="toggleComponents('admin_configuration')">Configuration</button> -->

    </div>
    <!-- <div class="d-flex">
                <button class="iconButton"  (click)="toggleComponents('admin_configuration')"><mat-icon>settings</mat-icon></button>
            </div> -->

    <!-- <button mat-button class="custom-button" (click)="toggleComponents('Ai-models')">Models </button> -->
</div>


<!-- </div> -->
<!-- <div style="width: 100%; padding-left: 5rem;">

  <div style="width: 100%;">
      <ng-container *ngIf="showComponent =='workbench' ">
          <app-workbench style="width: 100%;"></app-workbench>
      </ng-container>
      <ng-container *ngIf="showComponent == 'bulk_processing'">
          <app-bulk-processing></app-bulk-processing>

      </ng-container>
      <ng-container *ngIf="showComponent == 'admin_configuration'">
          <app-configuration-parent></app-configuration-parent>

      </ng-container>
      <ng-container *ngIf="showComponent == 'Ai-models'">
          <app-ai-models></app-ai-models>

      </ng-container>
  </div>

</div> -->
<div class="footer-container">
    <div class="d-flex justify-content-between bg-dark text-white footerDiv">
        <!-- <div style="width: 100%; text-align: left;" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#footerContent" aria-expanded="false" aria-controls="footerContent"> -->
        <span style="margin-left: 10px;">Copyright &copy; 2024 Infosys Limited</span>
        <span style="margin-right: 20px;">Contact: Rai.Office@infosys.com</span>
    </div>
    <!-- <div class="collapse" id="footerContent">
      <div class="card card-body bg-dark text-white">
        <p>Footer Content Here</p>
        <p>Additional Footer Information</p>
      </div>
    </div> -->
</div>