/** SPDX-License-Identifier: MIT
Copyright 2024 - 2025 Infosys Ltd.
"Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."
*/

.cardContainerTemp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.outerResultCard {
    box-shadow: 0 2px 4px #00000029 !important;
    border: none;
    margin-left: 1px;
    background: #efefef;
    border-radius: 14px;
    min-height: 250px;
    height: fit-content;
    width: auto;
}

.card-header-outerResultCard {
    background: none;
    border: none;
    padding-bottom: 0px;
}

.innerResultCard {
    border-radius: 14px;
    box-shadow: 0 1px 4px #00000016 !important;
    background: #ffffff;
    border: none;
}

.cardA {
    color: black;
    padding: 10px;
    background-color: #ececec;
    border-radius: 8px;
}

.flex-1 {
    flex: 1;
}

.custom-badge {
    color: rgb(31, 31, 31);
    font-size: 0.68rem;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    padding: 0px 7px;
    border-radius: 4px;
    font-weight: 500;
    height: 20px;
}

.custom-badge-passed {
    color: rgb(20 83 45);
    background-color: rgb(220 252 231);
}

.custom-badge-failed {
    color: rgb(255 0 78);
    background-color: rgb(255 228 230);
}

.mainLabel {
    color: #2e2e2e;
    padding: 0px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Segoe UI';
}

.mainLabelSM {
    font-size: 12px;
}

.mainLabelLight {
    font-weight: 400;
}

.meter-container {
    position: relative;
    width: 125px;
    /* Set the width of the meter to 100px */
    margin-top: 10%;
}

.indicator {
    position: absolute;
    bottom: -20px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
    /* Reduce the padding to decrease the height */
    font-size: 10px;
    /* Reduce the font size */
    background-color: black;
    /* Set the background color of the indicator to black */
}

.indicator.low {
    left: -10%;
}

.indicator.medium {
    left: 28%;
}

.indicator.high {
    left: 60%;
}

.indicator.neutral {
    left: 50%;
}

.indicator::before {
    content: '';
    position: absolute;
    top: -5px;
    /* Position the pointer above the indicator */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    /* Create the pointer */
}