<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="card outerResultCard mb-3">
    <div class="card-header pb-0 card-header-outerResultCard">
        <h5 class="mainLabel d-flex mt-2 ml-2" style="font-size: 1rem; color: #303030;">
            Prompt Analysis
        </h5>
    </div>
    <div class="card-body">
        <div class="cardContainerTemp">
            <!-- <div class="mt-1">
        <div class="card h-100">
            <div class="card-header border-0 d-flex justify-content-between" style="background: none;">
                <h5 class="mainLabel d-flex mt-1 mb-1" style="font-size: 0.94rem;
                color: #303030;">
                    Jailbreak Check <mat-icon class="ml-2 pr-1 cursor-pointer" style="color: #727272;"
                        [inline]="true"
                        (click)="openRightSideModal({title:'Infosys Advanced Jailbreak Check',type:'advJailbreakCheck'})">info</mat-icon>
                </h5>
                <span class="custom-badge"
                    [class.custom-badge-passed]="requestModerationResult?.advancedJailbreakCheck?.['result'] == 'PASSED'"
                    [class.custom-badge-failed]="requestModerationResult?.advancedJailbreakCheck?.['result'] == 'FAILED'">
                    {{requestModerationResult?.advancedJailbreakCheck?.['result']}}</span>
            </div>
            <div class="card-body">
                <p class="mainLabel mainLabelSM mb-2 mt-n3 text-end" style="font-size: 0.7rem;">Time Taken:
                    <span>{{requestTime.bergeronCheck}}</span>
                </p>
                <div class="d-flex mt-1">
                    <div class="cardA w-100">
                        <p *ngIf="!requestModerationResult?.advancedJailbreakCheck?.['text']" class="mainLabel"
                            style="color: #232323;margin: 0px; font-size: small;">NA</p>
                        <div *ngIf="requestModerationResult?.advancedJailbreakCheck?.['text']">
                            <p class="mainLabel" style="color: #232323;margin: 0px; font-size: small;">
                                {{requestModerationResult?.advancedJailbreakCheck?.['text']}}
                            </p>
                        </div>
                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
            <ng-container *ngFor="let template of requestModerationTemplates">
                <div class="mt-1">
                    <div class="card innerResultCard h-100">
                        <div class="card-header border-bottom-0 py-2" style="background: none;" id="headingOne" aria-expanded="true">
                            <div class="d-flex justify-content-between">
                                <label class="mainLabel m-0 d-flex" style="font-size: 0.9rem; color: #303030;">{{template}}
                                    <!-- <mat-icon
                                        *ngIf="response[template] && response[template].description && response[template]?.description != ''"
                                        class="ml-2 cursor-pointer" [matTooltip]="response[template].description"
                                        style="color: #727272;" [inline]="true">info</mat-icon> -->
                                        <!-- commented as description is not available -->
                                        <!--  -->

                                </label>
                                <div class="d-flex">
                                    <mat-icon class="ml-2 cursor-pointer" style="color: #727272; width: 18px;" [inline]="true" (click)="openRightSideModal({title:template,type:template+'-temp'})">info</mat-icon>
                                    <div *ngIf="response[template]?.result" class="custom-badge" [class.custom-badge-passed]="response[template]?.result == 'PASSED'" [class.custom-badge-failed]="response[template]?.result == 'FAILED'" style="margin-left: 7px;">
                                        {{response[template]?.result}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="" aria-labelledby="headingOne">
                            <div class="card-body" *ngIf="isEmptyObject(response[template])">
                                <p class="mainLabel mainLabelSM" *ngIf="status[template] == 'failed'; else loaderCOT">
                                    API got failed. Please try again later. <a class="text-decoration-underline" (click)="callEvalLLM(template)">Click here to retry</a></p>
                                <ng-template #loaderCOT>
                                    <div class=" d-flex justify-content-center align-items-center" style="color: #8626C3;">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="card-body" *ngIf="!isEmptyObject(response[template])">
                                <p class="mainLabel mainLabelSM mb-2 mt-n3 text-end" style="font-size: 0.7rem;">Time Taken:
                                    <span>{{response[template]?.timetaken}}</span>
                                </p>
                                <p class="mainLabel mainLabelSM mainLabelLight m-0"><span class="mainLabel mainLabelSM mb-0">Analysis:
                                    </span>
                                    <span *ngIf="!showFullAnalysis[template]">
                                        {{response[template]?.analysis | slice:0:80}}...
                                        <a (click)="toggleAnalysis(template)">Show more</a>
                                    </span>
                                    <span *ngIf="showFullAnalysis[template]">
                                        {{response[template]?.analysis}}
                                        <a (click)="toggleAnalysis(template)">Show less</a>
                                    </span>
                                </p>
                                <div class="d-flex mt-3 flex-wrap">
                                    <div class="cardA  m-1 flex-1">
                                        <p class="mainLabel" style="    color: #232323;
                                margin: 0px;
                                font-size: x-large;">
                                            {{response[template]?.score | number:'1.0-3'}}
                                        </p>
                                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Actual Score</p>
                                    </div>
                                    <div class="cardA  m-1 flex-1">
                                        <p class="mainLabel" style="    color: #232323;
                                margin: 0px;
                                font-size: x-large;">
                                            {{response[template]?.threshold | number:'1.0-3'}}
                                        </p>
                                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Threshold</p>
                                    </div>
                                    <div class="cardA  m-1 flex-1" *ngIf="response[template]?.bias_type">
                                        <p class="mainLabel" style="    color: #232323;
                                margin: 0px;
                                font-size: small;">
                                            {{response[template]?.bias_type}}</p>
                                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Bias Type</p>
                                    </div>
                                    <div class="cardA  m-1 flex-1" *ngIf="response[template]?.group">
                                        <p class="mainLabel" style="    color: #232323;
                                margin: 0px;
                                font-size: small;">
                                            {{response[template]?.group}}</p>
                                        <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Affected Group
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div>
    <app-multi-modal *ngIf="fmService.getMultiModal().show"></app-multi-modal>
</div>



<div [hidden]="!contentDetectorState.active">
    <div id="accordionConDet" class="mt-3 mb-3">
        <div class="card">
            <div class="card-header  border-bottom-0" style="background: none;" id="headingOne" data-target="#ConDetCollapse" aria-expanded="true" aria-controls="ConDetCollapse" (click)="callContentDetector()">
                <div class="mb-0">
                    <label class="mainLabel cursor mb-0" style="font-size: 0.9rem; color: #303030;">AI Content
                        Detector</label>
                </div>
            </div>
            <div id="ConDetCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionConDet">
                <div class="card-body" *ngIf="isEmptyObject(contentDetectorRes)">
                    <p class="mainLabel mainLabelSM" *ngIf="contentDetectorState.status == 'FAILED'; else loaderConDet">
                        API got failed. Please try again later. <a class="text-decoration-underline" (click)="callContentDetector()">Click
                            here to retry</a></p>
                    <ng-template #loaderConDet>
                        <div class=" d-flex justify-content-center align-items-center" style="color: #8626C3;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div class="card-body" *ngIf="!isEmptyObject(contentDetectorRes)">
                    <div class="d-flex mt-1">
                        <div class="cardA  mr-3 flex-1">
                            <p class="mainLabel" style="    color: #232323;
                            margin: 0px;
                            font-size: x-large;">
                                {{contentDetectorRes?.score | number:'1.0-3'}}
                            </p>
                            <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Actual Score</p>
                        </div>
                        <div class="cardA flex-1 mr-3">
                            <p class="mainLabel" style="    color: #232323;
                            margin: 0px;
                            font-size: x-large;">{{contentDetectorRes?.threshold | number:'1.0-3'}}
                            </p>
                            <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Threshold</p>
                        </div>
                        <div class="cardA flex-1">
                            <p class="mainLabel" style="    color: #232323;
                            margin: 0px;
                            font-size: small;">{{contentDetectorRes?.prediction}}
                            </p>
                            <p class="mainLabel mainLabelSM mb-0" style="font-weight: 400;">Result</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>