<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
--> 
<!--
 Copyright 2023 Infosys Limited
 Use of this source code is governed by MIT license that can be found in the LICENSE file or at
 https://opensource.org/licenses/MIT.
-->
<div class="modal-header-idf" *ngIf="formBased">
    <h4 class="modal-title">Sign in</h4>
</div>

<div class="modal-body" *ngIf="formBased">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm" method="post">
                <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
                <div class="form-group">
                    <label class="username-label" for="username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username" formControlName="username" autocomplete="off" #username />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password" formControlName="password" autocomplete="off" />
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
            <input autocomplete="off"
              class="form-check-input"
              type="checkbox"
              name="rememberMe"
              id="rememberMe"
              formControlName="rememberMe"
              style="width: 15px !important; height: 15px !important"
            />
            <span> Remember me</span>
          </label>
                </div>
                <button type="submit" class="dsa_primary_btn px-3 py-1">Sign in</button>
            </form>
            <div class="mt-3 alert alert-warning">
                <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Did you forget your password?</a>
            </div>

            <div class="alert alert-warning">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="/account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-body" *ngIf="!formBased">
    <div class="row justify-content-center">
        <div class="w-100 h-100 position-fixed top-0 d-flex justify-content-center align-items-center" style="background: rgba(51,60,60,0.8);">

            <!-- <leds-spinner bdColor="rgba(51,60,60,0.8)" [fullScreen]="true" [showSpinner]=true> -->
            <div spinnerImg>
                <img alt="Loading" src="https://surveys.infosysapps.com/assets/gifs/loading.svg" />
                <span loadingText>Loading ...</span>
            </div>
            <!-- </leds-spinner> -->
        </div>
    </div>
</div>