<!-- SPDX-License-Identifier: MIT
Copyright 2024 - 2025 Infosys Ltd.
"Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."
-->
<div class="row mt-4 pt-1">
    <div class="button-container2">
        <div class="d-flex align-items-center">
            <mat-label [ngClass]="{
            'toggleLableOn': uploadMode,
            'toggleLableOff': !uploadMode,
          }">Traditional AI</mat-label>
            <span class="switch">
                <input id="switch-rounded" type="checkbox" [checked]="promptMode" (change)="ontoglechange($event.target)"
                [disabled]="!roleService.checkActiveTabExists('Workbench','Unstructured-Text','Traditional-AI') || !roleService.checkActiveTabExists('Workbench','Unstructured-Text','Generative-AI')"
                />
                <label for="switch-rounded"></label>
              </span>
            <mat-label [ngClass]="{
            'toggleLableOn': promptMode,
            'toggleLableOff': !promptMode
          }" [class.active]="promptMode">Generative AI</mat-label>
        </div>
    </div>
</div>
<div class="d-flex mt-4" *ngIf="uploadMode">
    <div style="flex: 1;" class="select-contatiner1" *ngIf="options.length != 0">
        <h3 class="HeadingLabel">Select Type</h3>
        <ng-container class="selectTypeShimmer" *ngIf="isLoadingSelectType">
            <ngx-skeleton-loader count="4" appearance="line" [theme]="{ 'border-radius': '20px', height: '20px'}">
            </ngx-skeleton-loader>
        </ng-container>
        <!--  -->
        <div *ngIf="!isLoadingSelectType" class="checkbox-container">
            <mat-checkbox class="custom-frame" (change)="viewoptions()" color="primary" *ngFor="let option of options" [(ngModel)]="selectedOptions[option]"> <img src={{imageEnv+option+imgType}}> {{option}} </mat-checkbox>
        </div>
        <!--  -->
    </div>
    <div style="flex: 1;" class="select-contatiner2">
        <h3 class="HeadingLabel">Upload File(s)</h3>
        <ng-container class="selectTypeShimmer" *ngIf="isLoadingUpload">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ 'border-radius': '10px', height: '200px', width: '230px'}">
            </ngx-skeleton-loader>
        </ng-container>
        <div *ngIf="!isLoadingUpload">

            <div class="d-flex flex-column">
                <!-- drop zone file upload -->
                <div class="d-flex">

                    <div class="drop-zone">

                        <mat-icon class="material-icons browse-logo ">cloud_upload</mat-icon>
                        <p class="dnd-lable">Drag & drop files here <br>or<span class="high-light"> browse</span>
                            <br>Please upload .CSV files only with Prompts
                            <br>Max file size 4GB</p>

                        <input type="file" (change)="fileBrowseHandler($event)">
                    </div>
                </div>
                <div class="label-container mt-2">
                    <p class="HeadingLabel2">*right click to download sample file</p>
                </div>
                <div class="image-container">
                    <div class="card imgcardsize me-2" [class.radio-checked-img]="favoriteSeason == sampleFile1" (click)="onClick(sampleFile1)" (contextmenu)="downloadFile(sampleFile1, $event)"  style="margin-bottom: 10px;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <label>
                    <input (click)="viewchange()" class="imgcardsize" type="radio" style="display: none;"
                        [(ngModel)]="favoriteSeason" name="option" value={{sampleFile1}} checked>
                    <img class="imgcardsize" src={{sampleSrc1}} matTooltip="Sample File 1">
                    <!-- <i class="material-icons imgcardsize" style="font-size: 25px;">insert_drive_file</i> -->
                </label>
                    </div>
                    <div class="card imgcardsize" [class.radio-checked-img]="favoriteSeason == sampleFile2" (click)="onClick(sampleFile2)" (contextmenu)="downloadFile(sampleFile2, $event)"  >
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <label>
                    <input class="imgcardsize" type="radio" style="display: none;" [(ngModel)]="favoriteSeason"
                        name="option" value={{sampleFile2}} checked>
                    <img class="imgcardsize" src={{sampleSrc1}} matTooltip="Sample File 2">
                </label>
                    </div>
                </div>
                <div class="me-3 fileContainer ms-3" [hidden]="files.length ==0">
                    <p class="HeadingLabelSM" *ngIf="files[0]" style="margin-bottom: 0px;">File</p>
                    <div class="file-upload" *ngIf="files[0]">
                        <p style="margin: 0px; font-size: x-small;">{{ files[0].name }}</p>
                        <div class="d-flex align-items-center mt-1">
                            <mat-progress-bar class="me-1" mode="determinate" [value]="files[0]?.progress"></mat-progress-bar>
                            <button class="cancel-button me-2" (click)="removeFile()">
                      <mat-icon>close</mat-icon>
                    </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <!-- <button mat-raised-button class="buttonMain" style="margin-right: 1rem;" color="reset">Reset</button> -->
                <button mat-raised-button class="buttonMain" color="black" (click)="submit()" [disabled]="showSpinner1">
                <div class="spinner-border text-light" style="font-size: 10px;width: 15px;height: 15px;"
                        role="status" *ngIf="showSpinner1">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span *ngIf="!showSpinner1">Submit</span>
            </button>
            </div>
        </div>
    </div>
    <div style="flex: 1; max-width: 80%;">
        <!--  -->
        <div class="button-container2">
            <label class="HeadingLabel">Report</label>
            <button mat-icon-button color="primary2" (click)="getLotDetails(user)" style="margin-right: 2.5rem">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        <div *ngIf="isLoadingTable">
            <ngx-skeleton-loader count="5" appearance="line" [theme]="{ 'border-radius': '20px', height: '30px', width:'700px'}">
            </ngx-skeleton-loader>
        </div>
        <div *ngIf="!isLoadingTable">
            <table class="styled-table">
                <tr>
                    <th class="header">File Name</th>
                    <th class="header">Created On</th>
                    <th class="header">Status</th>
                    <th class="header">Report</th>
                </tr>
                <tr *ngFor="let element of dataSource| paginate : pagingConfig; let i = index">
                    <td> {{element.fileName}}</td>
                    <td> {{element.CreatedDateTime}}</td>
                    <td class="upper-case" [ngClass]="{'gereen-text': isCompleted(element.status)}"> {{element.status}}</td>
                    <td>

                        <div>
                            <tr style="display: flex;">
                                <td *ngFor="let item of element.TelemetryLinks" style="padding: .5rem;">
                                    <a href={{item.TelemetryLink}} target="_blank" title={{item.tenant}} style="color: black;"><img src={{imageEnv+item.tenant+imgType}} width="19px" alt={{item.tenant}} class="center"><br>
                                        <!-- <span style="font-size: 10px;">{{item.tenant}}</span> --></a>
                                </td>
                            </tr>
                        </div>
                    </td>
                </tr>
            </table>
            <!--  -->
            <div class="d-flex justify-content-between mt-3">
                <div class="pagination-info">
                    Showing {{ pagingConfig.totalItems < pagingConfig.itemsPerPage ? pagingConfig.totalItems : pagingConfig.itemsPerPage }} of {{ pagingConfig.totalItems }}
                  </div>
                    <pagination-controls class="pagination-label" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <div *ngIf="promptMode">

        <!-- <div>
        <p>This screen is currently under progress. Please check back later.</p>
    </div> -->
        <!-- <app-fm-moderation></app-fm-moderation> -->

        <app-fm-moderation></app-fm-moderation>
    </div>

<div style="height: 50px;">

</div>