<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
--> 
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span>User</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span>Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge badge-success">Activated</span>
          <span *ngIf="!user.activated" class="badge badge-danger">Deactivated</span>
        </dd>

        <dt><span>First Name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>Created By</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span>Created Date</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Last Modified By</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>Last Modified Date</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span></button>
    </div>
  </div>
</div>