<!-- SPDX-License-Identifier: MIT
Copyright 2024 - 2025 Infosys Ltd.
"Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."
-->
<div class="p-3 px-4 h-100">
    <div class="d-flex justify-content-between align-items-center pb-4">
        <p class="HeadingLabel2">Privacy Parameters</p>
        <button type="button" class="btn-close pb-2" aria-label="Close" (click)="closeDialog()"></button>
    </div>
    <div *ngIf="isLoading" class="loading-spinner">
        <!-- Add your loading spinner here -->
        <ngx-skeleton-loader count="1" appearance="line"
            [theme]="{ 'height': '20px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line"
            [theme]="{ 'height': '20px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line"
            [theme]="{ 'height': '20px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line"
            [theme]="{ 'height': '20px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line"
            [theme]="{ 'height': '20px', 'margin-bottom': '10px' }"></ngx-skeleton-loader>
    </div>
    <div *ngIf="isDataEmpty" class="alert alert-warning">
        Value is not set. Create a mapping first.
    </div>
    <div *ngIf="!isDataEmpty && isLoading == false">

        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center form-group">
                <label for="inputParameter" class="HeadingLabel "
                    style="font-size: 12px; margin-bottom: 0px; margin-right: 1rem;">Threshold :</label>
                <mat-slider class="example-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
                    [discrete]="thumbLabel" [showTickMarks]="showTicks"
                    (change)="setThreshold($event,resThresholdScore)">

                    <input matSliderThumb #slider [(ngModel)]="resThresholdScore">

                </mat-slider>
                <label>{{thresholdDisplay}}</label>
            </div>

            <div class="d-flex justify-content-end" style="padding-right: 5rem;">
                <button mat-raised-button class="buttonMain" color="black" [ngbPopover]="popoverContent"
                    [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="closeToggle(p)"
                    (click)="addRecognizerInList()" [popoverTitle]="Poptitle">Add Recognizers </button>
            </div>
        </div>

        <div *ngIf="!isDataEmpty">
            <table class="styled-table">

                <tr>
                    <th class="header">Entities Id</th>
                    <th class="header">Entities Name</th>
                    <th class="header">Data Type</th>
                    <th class="header">Hashify</th>
                    <th class="header">Action</th>
                </tr>

                <tr *ngFor="let element of dataSource1.dataList | paginate : pagingConfig; let i = index">
                    <td> {{element.RecogId}}</td>
                    <td> {{element.RecogName}}</td>
                    <td> {{element.RecogType}}</td>
                    <td class="align-bottom"> <mat-slide-toggle [checked]="element.isHashify"
                            (change)="updateActiveStatus($event,element.RecogId)"
                            class="slideLable"><span>Hashify</span></mat-slide-toggle></td>
                    <!-- <td class="upper-case  ">

              <button class="me-2" mat-icon-button color="primary4"><mat-icon> edit </mat-icon></button>
             <button mat-icon-button color="primary3"  (click)="deleteListEntity(element.EntityId)"><mat-icon> delete </mat-icon>
            </button>
         </td> -->
                    <td class="upper-case  ">
                        <button mat-icon-button color="primary3"
                            (click)="deleteAccounttData(element.RecogId)"><mat-icon>
                                delete
                            </mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="isLoading">
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                </tr>
                <tr *ngIf="isLoading">
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader></ngx-skeleton-loader></td>
                </tr>
            </table>
            <div class="d-flex justify-content-left">
                <pagination-controls class="pagination-label" previousLabel="Prev" nextLabel="Next"
                    (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>




    <!--  -->
    <ng-template #popoverContent>
        <!-- <form [formGroup]="NewAccPort">
        <div class='form-group'>
            <label for='input1' class="mainLabel">Portfolio Name</label>
            <input type='text' class='form-control InputPop' formControlName="portfolio" id='input1'>
            <span *ngIf="NewAccPort.get('portfolio')?.invalid && NewAccPort.get('portfolio')?.touched"
                class="text-danger">
                Portfolio Name is required and should be at least 3 characters long.
            </span>
        </div>
        <div class='form-group'>
            <label for='input2 ' class="mainLabel">Account Name</label>
            <input type='text' class='form-control InputPop' formControlName="account" id='input2'>
            <span *ngIf="NewAccPort.get('account')?.invalid && NewAccPort.get('account')?.touched" class="text-danger">
                Account Name is required.
            </span>
        </div>
        <button mat-raised-button type='submit' class='buttonMain' color="black" (click)="p.close()"
            [disabled]="NewAccPort.invalid" (click)="createNewAccPot()">Create</button>
    </form> -->

        <div style="max-width: 100%;">
            <form [formGroup]="accountUpdateForm" (ngSubmit)="updateRecList()">
                <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
                <div class="d-flex flex-column" style="max-width: 100%;">


                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="margin-bottom: 10px;">
                        <label class="mainLabel" style="margin-bottom: 10px;">Recognizer type :
                        </label>
                        <mat-select #select1 multiple id="selectApplicableAttacks" class="dropdown"
                            formControlName="updateRecList" placeholder="Select Recognizer type :">
                            <div class="select-all">
                                <mat-checkbox (change)="toggleAllSelection1($event)" color="primary">Select
                                    All</mat-checkbox>
                            </div>
                            <mat-option (click)="selectRecognizertype()" class="dropdownOptions"
                                *ngFor="let attack of editReconList" [value]="attack.RecogId">
                                {{attack.RecogName}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="d-flex ps-3">
                        <button mat-raised-button class="buttonMain2 align-bottom" style="margin-top: 0px;"
                            color="black" (click)="closeToggle(p)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template #Poptitle>
        <div class="d-flex">


            <label class="HeadingLabel"> Add Recognizers</label>
            <button (click)="p.close()" style="border: none; background: none; cursor: pointer;">
                <span class="material-icons" style="font-size: 14px;">close</span>
            </button>
        </div>
    </ng-template>
