<!-- MIT license https://opensource.org/licenses/MIT
”Copyright 2024-2025 Infosys Ltd.”
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="chatbot">
    <button class="chatbot-icon" (click)="toggleChat()" *ngIf="!isChatOpen">
    <mat-icon style="color: white;">android</mat-icon>
  </button>
    <!-- <button mat-raised-button color="primary"  (click)="toggleChat()" *ngIf="!isChatOpen">
    <mat-icon>face</mat-icon></button> -->
    <!-- <div class="chatbot-chat card" *ngIf="isChatOpen"> -->
    <div *ngIf="isChatOpen">
        <!-- <div class="card-header">
        <mat-icon class="chatbot-close-icon" (click)="toggleChat()">close</mat-icon>
        Chat
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">User 1: Hello</li>
        <li class="list-group-item">User 2: Hi</li>
        More messages go here
      </ul>
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Type a message">
        <button class="btn btn-primary mt-2">Send</button>
      </div> -->
        <!--  -->
        <!-- <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> RAI Assistant
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </header>

      <main class="msger-chat">
        <div class="msg left-msg">
          <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">BOT</div>
              <div class="msg-info-time">12:45</div>
            </div>

            <div class="msg-text">
              Hi, welcome to RAI Assistant! Go ahead and send me a message. 😄
            </div>
          </div>
        </div>

        <div class="msg right-msg">
          <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">Sajad</div>
              <div class="msg-info-time">12:46</div>
            </div>

            <div class="msg-text">
              You can change your name in JS section!
            </div>
          </div>
        </div>
      </main>

      <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section> -->
        <section class="msger">
            <header class="msger-header">
                <div class="msger-header-title">
                    <i class="fas fa-comment-alt"></i> RAI Assistant
                </div>
                <div class="msger-header-options" (click)="toggleChat()">
                    <i class="material-icons hover">close</i>
                </div>
            </header>

            <main class="msger-chat">
                <div *ngFor="let message of userMessages; let i = index">
                    <div class="msg right-msg">
                        <i class="material-icons align-content-center icon-background">person</i>
                        <div class="msg-bubble">
                            <div class="msg-text">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLoading && i === userMessages.length - 1" class="msg left-msg mb-2">
                        <i class="material-icons align-content-center icon-background">android</i>
                        <div class="msg-bubble">
                            <div class="msg-text">
                                <div class="three-dots-spinner">
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="botResponses[i]" class="msg left-msg mb-2">
                        <i class="material-icons align-content-center icon-background">android</i>
                        <div class="msg-bubble">
                            <div class="msg-text">
                                {{ botResponses[i] }}
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="sample-questions d-flex justify-content-between mb-2" *ngIf="!isLoading">
                <div class="bubble" (click)="onBubbleClick(sample1)">{{ sample1 }}</div>
                <div class="bubble" (click)="onBubbleClick(sample2)">{{ sample2 }}</div>
                <div class="bubble" (click)="onBubbleClick(sample3)">{{ sample3 }}</div>
            </div>

            <form class="msger-inputarea">
                <input type="hidden" name="csrfToken" value="nonceService.getNonce()">
                <div class="position-relative" style="width: 100%;">
                    <textarea class="form-control w-100 txtArea shadow-none" rows="3" name="prompt" [(ngModel)]="prompt" placeholder="Enter Prompt" [innerHTML]="safeTemplateData"></textarea>
                    <button type="submit" class="border-0 position-absolute m-2 sendIcon" (click)="send()">
            <i class="material-icons">send</i>
          </button>
                </div>
            </form>
        </section>
    </div>
</div>